/*WCAG-PANEL*/

.wcag-panel {
    position: relative;
    display: block;
    width: 100%;

    font-size: 18px;
    font-family: 'Arial', 'sans-serif';

    border-bottom: 1px solid rgba(107, 107, 107, 0.5);
    background-color: #f7f7f7;

    box-sizing: border-box;
    z-index: 999;
}

.wcag-panel__wrapper {
    margin: 0 auto;

    max-width: 1200px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.wcag-panel__wrapper:before, .wcag-panel__wrapper:after {
    content: " ";
    display: table;
}

.wcag-panel__wrapper:after {
    clear: both;
}

.wcag-panel__col {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 16px;
}

.wcag-panel__col:first-child {
    padding-left: 0;
}

.wcag-panel__col:last-child {
    border-right: 0;
    margin-right: 0;
}

.wcag-panel__settings {
    float: right;
    margin-top: 2px;
}

.wcag-panel__switcher {
    display: inline-block;
    vertical-align: middle;

    font-size: 0;

    overflow: hidden;
    border: 1px solid black;
    border-radius: 3px;
}

.wcag-panel__switcher_img {
    font-size: 0;
}

.wcag-panel__switcher_color {
    overflow: visible;
    border: 0;
}

.wcag-panel__switcher-label {
    display: inline-block;
    vertical-align: baseline;

    margin-right: 4px;
}

.wcag-panel__switcher-btn {
    padding: 0 10px;
    min-height: 35px;

    background-color: #fff;
    cursor: pointer;

    font-size: 18px;
    line-height: 1.3em;
    border: 0;
}

.wcag-panel__switcher-btn:focus {
    font-weight: bold;
}

.wcag-panel__switcher-btn:not(:last-child) {
    border-right: 1px solid black;
}

/* active */
.wcag-panel__switcher-btn.wcag-panel__switcher-btn_active {
    background-color: black;
    color: white;
}

.wcag-panel__switcher-btn_increase {
    width: 31px;
    height: 35px;

    background-color: #fff;
    background-image: url("assets/svg/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;

    font-weight: bold;
}

.wcag-panel__switcher-btn_increase.wcag-panel__switcher-btn_active {
    background-color: #fff;
}

.wcag-panel__switcher-btn_decrease {
    width: 31px;
    height: 35px;

    background-color: #fff;
    background-image: url("assets/svg/minus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    font-weight: bold;
}

.wcag-panel__switcher-btn_decrease.wcag-panel__switcher-btn_active {
    background-color: #fff;
}

.wcag-panel__switcher-btn_reset:before {
    display: inline-block;
    vertical-align: middle;

    margin-top: -5px;
    margin-right: 5px;

    content: '';

    width: 20px;
    height: 20px;

    background-image: url("assets/svg/reload.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.wcag-panel__dropdown-toggle {
    position: relative;
    display: inline-block;
    vertical-align: baseline;

    padding: 0 27px 0 10px;

    background: #fff;
    border: 1px solid black;
    border-radius: 3px;

    line-height: 32px;
    font-size: 18px;

    cursor: pointer;
}

.wcag-panel__dropdown-toggle:focus {
    font-weight:bold;
}

.wcag-panel__dropdown-toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;

    width: 0;
    height: 0;

    border-left: 6px solid transparent;
    border-top: 5px solid black;
    border-right: 6px solid transparent;
}

.wcag-panel__dropdown-toggle[aria-expanded="true"] {
    background: black;
    color: white;
}

.wcag-panel__dropdown-toggle[aria-expanded="true"]:after {
    margin-top: -2px;
    border-top: 0;
    border-bottom: 5px solid white;
}

.wcag-panel__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;

    display: none;
    float: left;

    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;

    font-size: 18px;
    text-align: left;
    list-style: none;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;

    z-index: 1000;
}

.wcag-panel__dropdown-item {
    margin-bottom: 1.5em;
}

.wcag-panel__dropdown-toggle-extra-text {
    display: none;
}

.wcag-panel__flag-button {
    margin-right: 7px;
    font-size: 18px;
}

.wcag-panel__default-link {
    font-size: 18px;
    color: black !important;
}

.wcag-panel__default-link:before {
    display: inline-block;
    vertical-align: middle;

    margin-right: 10px;

    content: '';

    width: 28px;
    height: 18px;

    background-color: transparent;
    background-image: url("assets/svg/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.wcag-panel__reset {
    margin-right: 20px;
    margin-bottom: 10px;
}

.wcag-panel__close {
    margin-bottom: 10px;
    float: right;
}

.wcag-panel__switch-default {
    padding-top: 9px;
    margin-right: 20px;
    margin-bottom: 10px;

    display: inline-block;
    vertical-align: middle;

    height: 35px;
}

.wcag-panel_show-dropdown .wcag-panel__dropdown {
    display: block;
}

/*FLAG-BUTTON*/

.flag-button {
    position: relative;

    width: 31px;
    height: 35px;
    box-sizing: border-box;

    border-radius: 3px;
    cursor: pointer;
}

.flag-button:hover {
    border: 1px dashed #9f9f9f;
}

.flag-button:after {
    display: none;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;

    content: '';

    width: 7px;
    height: 7px;

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    background: #fff;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.flag-button_active:after, .flag-button:focus:after {
    display: block;
}

.flag-button_white {
    background: #fff;
    border: 1px solid #000;
}

.flag-button_black {
    color: #fff;
    background: #000;
    border: 1px solid #000;
}

.flag-button_black:after {
    background-color: #000;
}

.flag-button_blue {
    background: #9dd1ff;
    border: 1px solid #000;
}

.flag-button_blue:after {
    background-color: #9dd1ff;
}