@mixin link-bordered($color, $show-border) {
    color: $color;
    text-decoration: none;

    transition: border-color 0.1s linear;

    @if $show-border {
        border-bottom: 1px solid transparentize($color, .7);

        &:hover {
            border-color: $color;
        }
    } @else {
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid transparentize($color, .7);
        }
    }
}

@mixin link-bordered-dotted($color, $show-border) {
    color: $color;
    text-decoration: none;

    transition: border-color 0.1s linear;

    @if $show-border {
        border-bottom: 1px dotted transparentize($color, .7);

        &:hover {
            border-color: $color;
        }
    } @else {
        border-bottom: 1px dotted transparent;

        &:hover {
            border-bottom: 1px dotted transparentize($color, .7);
        }
    }
}