.tabs {
    &__list {

    }

    &__inner {
        display: block;
        margin: 0;
        padding: 10px;
        border: 1px solid black;
        &[aria-hidden='true'] {
            display: none;
        }
    }

    .tabs-list {
        &__item {
            display: inline-block;
            padding: 5px 10px;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid #000;
            border-radius: 4px;
            cursor: pointer;
            &:focus, &:hover {
                outline: none !important;
                box-shadow: 0 0 0 3px #ffa;
            }
            &[aria-selected='true'] {
                background: black;
                color: white;
            }
        }
    }
}

// ==========================================================================
// Theme black
// ==========================================================================

.application[data-color="black"] {
    .tabs {
        &__inner {
            border: 1px solid white;
        }

        .tabs-list {
            &__item {
                border: 1px solid white;
                &[aria-selected='true'] {
                    background: white;
                    color: black;
                }
            }
        }
    }
}