// ==========================================================================
// Textarea
// ==========================================================================

.textarea {
    display: block;
    width: 100%;
    padding: 15px;

    font-size: 1em;

    border: 2px solid #000;
    resize: vertical;

    &:focus {
        outline: 3px solid #0000cc;
    }

    // Theme black

    body[data-color="black"] & {
        background-color: #000;
        border-color: #fff;

        &:focus {
            outline-color: #BF1722;
        }
    }
}
