// ==========================================================================
// Alert
// ==========================================================================1

.alert {
    padding: 15px;
    margin-bottom: 20px;

    color: white;

    background: black;

    html[data-color="black"] & {
        color: black;
        background: white;
    }
}