.header {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000; }
  .header__site-version {
    display: inline-block;
    padding-left: 45px;
    background-color: white;
    background-size: contain; }

.main {
  padding: 40px 0; }
  .main .content-block {
    margin-bottom: 30px; }
  .main__pagination {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #000; }
  .main .content-header {
    margin-bottom: 30px; }

.greeting {
  margin-bottom: 30px; }

.faq {
  margin-bottom: 36px; }
  .faq__form {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid black; }
  .faq__item {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black; }
  .faq__answer {
    margin: 8px 0 0 30px; }

.application[data-color="black"] .faq__form {
  border-bottom: 1px solid white; }

.application[data-color="black"] .faq__item {
  border-bottom: 1px solid white; }

.footer {
  padding: 20px 0px;
  border-top: 2px solid #000; }
  .footer p {
    margin-bottom: 1em; }

.application[data-color="black"] .footer {
  border-color: #fff; }

.gallery__item {
  margin-bottom: 30px; }
  .gallery__item:last-child {
    margin-bottom: 0px; }
