{% include "./partials/header-for-test.twig" %}
<ul class="pagination" role="navigation" aria-label="Ссылки на другие страницы">
    <li class="pagination__item pagination__item_active" rel="prev">
        <a class="pagination__link" href="#">Назад</a>
    </li>
    <li class="pagination__item pagination__item">
        <a class="pagination__link" href="#" aria-label="Первая страница">1</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#" aria-label="Вторая страница">2</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#" aria-label="Третья страница">3</a>
    </li>

    <li class="pagination__item" rel="next">
        <a class="pagination__link" href="#">Вперед</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#">Последняя страница</a>
    </li>
</ul>

{% include "./partials/footer-for-test.twig" %}
