{% include "./partials/header-for-test.twig" %}
<div>
        <table class="table">
            <caption>Табличка такая</caption>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Город</th>
            </tr>
            <tr>
                <td>Егор</td>
                <td>Иван</td>
                <td>Челядь</td>
            </tr>
            <tr>
                <td>Супер</td>
                <td>Боб</td>
                <td>Марли</td>
            </tr>
            <tr>
                <td>Курил</td>
                <td>Апельсин</td>
                <td>Еда</td>
            </tr>
        </table>

</div>

{% include "./partials/footer-for-test.twig" %}