
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid black;
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: black;
    color: white;
    border-color: black;
}

.panel-footer {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-top: 1px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}

// ==========================================================================
// Theme black
// ==========================================================================

.application[data-color="black"] {
    .panel {
        background-color: black;
        border: 1px solid white;
    }
    .panel-body {
    }
    .panel-heading {
        background-color: white;
        color: black;
        border-color: white;
    }
    .panel-footer {
        background-color: white;
        color: black;
        border-top: 1px solid white;

    }
}

