<nav class="js-control-panel control-panel docs-control-panel">
    <ol>
        <li class="control-panel__nav-item_with-icon control-panel__nav-item_fontsize">
            <h2><a href="http://www.w3.org/TR/WCAG/#perceivable">Font-size</a></h2>
            {#<h2><a href="http://www.w3.org/TR/WCAG/#perceivable">Размер шрифта</a></h2>#}
            <div class="cols-4">
                <p class="control-panel__title">Choose font-size you need</p>
                {#<p class="control-panel__title">Выберите нужный размер шрифта</p>#}
                <ol>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-fontsize="super" class="js-control-changer">1. Very large</a></h3>
                        {#<h3><a href="#" data-fontsize="super" class="js-control-changer">1. Очень большой</a></h3>#}
                        <p>200%</p>
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-fontsize="large" class="js-control-changer">2. Large</a></h3>
                        {#<h3><a href="#" data-fontsize="large" class="js-control-changer">2. Большой</a></h3>#}
                        <p>150%</p>
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-fontsize="normal" class="js-control-changer">3. Normal</a></h3>
                        {#<h3><a href="#" data-fontsize="normal" class="js-control-changer">3. Средний</a></h3>#}
                        <p>100%</p>
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-fontsize="small" class="js-control-changer">4. Small</a></h3>
                        {#<h3><a href="#" data-fontsize="small" class="js-control-changer">4. Маленький</a></h3>#}
                        <p>70%</p>
                    </li>
                </ol>
            </div>
        </li>
        <li class="control-panel__nav-item_with-icon control-panel__nav-item_kerning">
            {#<h2><a href="http://www.w3.org/TR/WCAG/#perceivable">Кернинг</a></h2>#}
            <h2><a href="http://www.w3.org/TR/WCAG/#perceivable">Kerning</a></h2>
            <div class="cols-3">
                <p class="control-panel__title">Choose letter spacing you need</p>
                {#<p class="control-panel__title">Выберите интервал между буквами</p>#}
                <ol>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-kerning="large" class="js-control-changer">1. Large</a></h3>
                        {#<h3><a href="#" data-kerning="large" class="js-control-changer">1. Большой</a></h3>#}
                        <p>120%</p>
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-kerning="normal" class="js-control-changer">2. Normal</a></h3>
                        {#<h3><a href="#" data-kerning="normal" class="js-control-changer">2. Средний</a></h3>#}
                        <p>100%</p>
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" data-kerning="small" class="js-control-changer">3. Small</a></h3>
                        {#<h3><a href="#" data-kerning="small" class="js-control-changer">3. Маленький</a></h3>#}
                        <p>80%</p>
                    </li>
                </ol>
            </div>
        </li>
        <li class="control-panel__nav-item_with-icon control-panel__nav-item_color">
            <h2><a href="#">Website color</a></h2>
            {#<h2><a href="#">Цвет сайта</a></h2>#}
            <div class="cols-4">
                <p class="control-panel__title">Choose color scheme you need</p>
                {#<p class="control-panel__title">Выберете цветовую схему, комфортную для вашего зрения</p>#}
                <ol>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" class="js-control-changer" data-color="normal">1. White background</a></h3>
                        {#<h3><a href="#" class="js-control-changer" data-color="normal">1. Белый фон</a></h3>#}
                        <p>Black and white scheme with white background and black text</p>
                        {#<p>Черно-белая схема с белым фоном и черным текстом</p>#}
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" class="js-control-changer" data-color="black">2. Black background</a></h3>
                        {#<h3><a href="#" class="js-control-changer" data-color="black">2. Черный фон</a></h3>#}
                        <p>Black And White color scheme with black background and white text</p>
                        {#<p>Черно-белая схема с черным фоном и белым текстом</p>#}
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" class="js-control-changer" data-color="yellow">3. Yellow background</a></h3>
                        {#<h3><a href="#" class="js-control-changer" data-color="yellow">3. Желтый фон</a></h3>#}
                        <p>Yellow color scheme with yellow background and black text</p>
                        {#<p>Схема с желтым фоном и черным текстом</p>#}
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" class="js-control-changer" data-color="blue">4. Blue background</a></h3>
                        {#<h3><a href="#" class="js-control-changer" data-color="blue">4. Голубой фон</a></h3>#}
                        <p>Blue color scheme with blue background and black text</p>
                        {#<p>Схема с голубым фоном и черным текстом</p>#}
                    </li>
                </ol>
            </div>
        </li>
        <li class="control-panel__nav-item_with-icon control-panel__nav-item_images">
            <h2><a href="#">Images</a></h2>
            {#<h2><a href="#">Изображения</a></h2>#}
            <div class="cols-3">
                <p class="control-panel__title">Choose show or not images on website</p>
                {#<p class="control-panel__title">Выберете отображать или нет изображения на сайте</p>#}
                <ol>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" class="js-control-changer" data-images="normal">1. On</a></h3>
                        {#<h3><a href="#" class="js-control-changer" data-images="normal">1. Включить</a></h3>#}
                        <p>Normal displaying</p>
                        {#<p>Обычное отображение</p>#}
                    </li>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" class="js-control-changer" data-images="hidden">2. Off</a></h3>
                        {#<h3><a href="#" class="js-control-changer" data-images="hidden">2. Выключить</a></h3>#}
                        <p>Images  will be hidden</p>
                        {#<p>Изображения будут отключены</p>#}
                    </li>
                </ol>
            </div>
        </li>
        <li class="control-panel__nav-item_with-icon control-panel__nav-item_reset">
            <h2><a href="#">Reset</a></h2>
            {#<h2><a href="#">Сброс</a></h2>#}
            <div class="cols-2">
                <ol>
                    <li class="control-panel__dropdown-group">
                        <h3><a href="#" id="js-control-reset">Set default settings</a></h3>
                        {#<h3><a href="#" id="js-control-reset">Сброс настроек на стандартные</a></h3>#}
                    </li>
                </ol>
            </div>
        </li>
    </ol>
</nav>