{# accessibility library #}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src="../dist/accessibility.js"></script>

{# docs scripts #}
<script src="assets/prism.js"></script>
<script src="assets/docs.js"></script>

</body>
</html>