<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Web-accessibility</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# accessibility library #}
    <link rel="stylesheet" type="text/css" href="../dist/accessibility.css" media="screen">

    {# docs styles #}
    <link rel="stylesheet" type="text/css" href="assets/prism.css" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/docs.css" media="screen">
</head>