@import "../../config";

.image-alt {
    position: relative;
    display: block;

    font-size: 0;
    line-height: 0;
    text-decoration: none;
    text-overflow: ellipsis;

    box-sizing: border-box;
    overflow: hidden;
    z-index:0;

    // Modify

    &_active {
        font-size: 1em;
        line-height: normal;

        border: 2px solid #000;
    }

    // Elements

    &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px;

        top: 0;
        left: 0;

        box-sizing: border-box;

        z-index: -1;
        background: white;
    }
}

.application[data-color="black"] {


    .image-alt__text {
        background: black;
        color: white;
    }

    .image-alt_active {
        border-color: #fff;
    }

}