// ==========================================================================
// control-panel
// ==========================================================================

@import "../../config";

.control-panel {
    font-size: 18px;

    color: #fff;

    background: #ccc;
    z-index: 999;

    &__wrapper {
        padding: 10px 20px;
    }

    // Theme black

    body[data-color="black"] & {
        color: #000;
        background: #fff;
    }
}