.form {
    input[type="text"],
    input[type="search"],
    input[type="number"],
    input[type="email"] {
        border-width: 1px;
        border-style: solid;
        line-height: 2;
        padding: 5px 15px;
        text-overflow: ellipsis;
    }

    input {
        border-color: inherit;
        font-size: 1em;
        background: none;
        color: inherit;
        width: 100%;
        max-width: 80ch;
        box-sizing: border-box;

        &[disabled] {
            border-style: dotted;
        }
    }

    label {
        display: block;
        margin-bottom: 0.2em;
    }

    .form-group {
        &:not(:last-child) {
            margin-bottom: 1em;
        }

        p {
            margin: 0.2em 0 0;
            font-size: 0.9em;
        }
    }
}