// ==========================================================================
// control-panel
// ==========================================================================

.accessibility-menu {
    display: block;
    width: 100%;

    font-size: 18px;

    border-bottom: 1px solid #000;
    background: #ccc;

    box-sizing: border-box;
    z-index: 999;

    &__wrapper {
        position: relative;
        max-width: 1200px;
        min-width: 960px;
        margin: 0 auto;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    &__col {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__switcher {
        display: inline-block;
        vertical-align: middle;

        &-btn {
            width: 40px;
            height: 40px;
            background-color: transparent;
            font-weight: bold;
            cursor: pointer;

            &_img-off {
                text-indent: -2px;
            }

            &_color-white {
                background: white;
            }

            &_color-black {
                background: black;
            }

            &_color-yellow {
                background: yellow;
            }

            &_color-blue {
                background: blue;
            }

            &_extra-menu {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -3px;
                    left: 50%;
                    margin-left: -10px;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-top: 10px solid green;
                }
            }
        }

        [data-increase="true"] {
            background: #{'svg-load(plus.svg, fill: #000) center  no-repeat'};
            background-size: 60%;
        }
        [data-increase="false"] {
            background: #{'svg-load(minus.svg, fill: #000) center  no-repeat'};
            background-size: 70%;
        }

        &_img {
            font-size: 15px;
        }

    }

    &__dropdown {
        padding: 10px 20px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: none;
        float: left;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    &_show-dropdown {
        .accessibility-menu__dropdown {
            display: block;
        }
        .accessibility-menu__switcher-btn_extra-menu:before {
            margin-top: -14px;
            border: 10px solid transparent;
            border-bottom: 10px solid green;
        }

    }
}