{# Nav #}
{# @TODO: Перевести описание на английский. #}
{# @TODO: Сделать пример кода без преобразования HTML символов. #}

<div id="horizontalNav" class="docs-component">

    <div class="typography">
        <h2>Nav</h2>
        <p>If a navigation consists of more than a few links, using a list of links is the most effective way to convey the menu structure to users</p>
        <p>To identify the menu you can add WAI-ARIA landmark role of navigation and to make it easier to find menu, it should be labeled according to their individual function with aria-label</p>
        {#<p>Навигация выполняется с помощью тега nav, также указывается aria-label с описанием.</p>#}
        {#<p>Желательное делать навигацию в виде списка. Из текста ссылок должно быть ясно куда они ведут.</p>#}
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <nav class="nav" role="navigation" aria-label="horizontal navigation">
                <ul>
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">
                            company information
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                           contacts information
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            documents example
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup">
                &lt;nav class="nav" role="navigation" aria-label="horizontal navigation"&gt;
                    &lt;ul&gt;
                        &lt;li class="nav__item nav__item_active"&gt;
                            &lt;a class="nav__link" href="#"&gt;
                                company information
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="nav__item"&gt;
                            &lt;a class="nav__link" href="#"&gt;
                               contacts information
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="nav__item"&gt;
                            &lt;a class="nav__link" href="#"&gt;
                                documents example
                            &lt;/a&gt;
                        &lt;/li&gt;
                        ...
                    &lt;/ul&gt;
                &lt;/nav&gt;
            </code>
        </pre>
    </div>
</div>