{# Pagination #}
{# @TODO: Перевести описание на английский. #}

<div id="pagination">

    <div class="typography">
        <h2>Pagination</h2>
        <p>List of link use role "navigation" and aria-label that describes it</p>
        <p>Elements "prev" and "next" should have rel with values "prev" and "next"</p>
        {#<p>Списку ссылок указывается aria-label с описанием и атрибут role="navigation".</p>#}
        {#<p>Элемент назад и вперед имеют атрибуты rel=”prev”, rel=”next”.</p>#}
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <ul class="pagination" role="navigation" aria-label="links to other pages">
                <li class="pagination__item pagination__item_active" rel="prev">
                    <a class="pagination__link" href="#">Prev</a>
                </li>
                <li class="pagination__item pagination__item">
                    <a class="pagination__link" href="#" aria-label="first page">1</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#" aria-label="second page">2</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#" aria-label="third page">3</a>
                </li>

                <li class="pagination__item" rel="next">
                    <a class="pagination__link" href="#">Next</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#">Last page</a>
                </li>
            </ul>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup convert">
                <ul class="pagination" role="navigation" aria-label="links to other pages">
                    <li class="pagination__item pagination__item_active" rel="prev">
                        <a class="pagination__link" href="#">Prev</a>
                    </li>
                    <li class="pagination__item pagination__item">
                        <a class="pagination__link" href="#" aria-label="first page">1</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#" aria-label="second page">2</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#" aria-label="third page">3</a>
                    </li>

                    <li class="pagination__item" rel="next">
                        <a class="pagination__link" href="#">Next</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">Last page</a>
                    </li>
                </ul>
            </code>
        </pre>
    </div>
</div>