{% extends './layout/main.twig' %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut, corporis cumque dolorem eum, labore laboriosam neque quaerat quam quos velit voluptatibus? Alias consectetur deserunt expedita in nemo, sit voluptates!</p>

    <p><a href="#">Link</a></p>
{% endblock %}