{% extends './layout/main.twig' %}

{% block content %}

    <div class="docs-example">
        <div class="docs-example__view">
            Код панели ВДС, которую вы видете на сайте
        </div>
        <pre class="docs-example__code">
            <code class="language-html convert">
{% include './partials/wcag-panel.twig' %}</code>
        </pre>
    </div>
{% endblock %}