{% extends './layout/main.twig' %}

{% block title %}Конфигурация панели ВДС{% endblock %}

{% block menu_link %}wcag-config{% endblock %}

{% block main_title %}Конфигурация настроек панели ВДС для сайта{% endblock %}

{% block content %}
    <h3>Масштаб шрифта</h3>
    <ul>
        <li>По-умолчанию размер шрифта задан <code>1rem</code>, что соответствует размеру шрифта в настройках браузера. Тем самым эти настройки не нарушаются новым значением.</li>
        <li>Значения шрифта 150% и 200% панели ВДС равны соответственно <code>1.5rem</code> и <code>2rem</code> базового размера шрифта.</li>
        <li>Межстрочный интервал всегда больше размера шрифта в 1.25 раза.</li>
        <li>Размеры элементов сайта (заголовков, списков и т.п.) данная конфигурация не затрагивает. Мы рекомендуем при разработке указывать размеры шрифта в <code>rem</code> единицах, чтобы они корректно масштабировались в зависимости от настроек панели ВДС.</li>
    </ul>

    <h3>Цвет</h3>
    <ul>
        <li>В конфигурации предусмотрено пять цветовых схем: белая, черная, синяя, песочная, коричневая.</li>
        <li>В каждой цветовой схеме предусмотрено два цвета для текста и два цвета для фона. Условно можно назвать их "более" и "менее" глубокими цветами.</li>
        <li>Текст по-умолчанию задан менее глубоким цветом. Ссылки в тексте заданы более глубоким цветом, чтобы выделяться.</li>
        <li>Фон по умолчанию представлен менее глубоким цветом. Можно использовать более глубокий для визуального выделения блока, добавив к тегу атрибут <code>data-wcag="alternative-background"</code>.</li>
        <li>Цвет границ всех элементов задан менее контрастным цветом.</li>
        <li>По-умолчанию, при отсутствующей панели ВДС на странице и ее JS обработчика, используется белая цветовая схема.</li>
        <li>Для белой схемы цвет подчеркивания ссылок выбран голубым. Это сделано чтобы подчекнуть ссылки.</li>
    </ul>

    <h3>Изображения</h3>
    <ul>
        <li>При выключении изображений они лишь скрываются, но продолжают занимать место на странице, гарантируя корректное отображение верстки.</li>
        <li>При выключенных изображениях скрываются не только теги <code class="convert"><img src="..."/></code>, но и SVG изображения, фоновые изображения для всех блоков и их :before, :after элементов.</li>
    </ul>

    <h3>Интервал между буквами</h3>
    <ul>
        <li>Для увеличенного интервала используется межбуквенное расстояние равное 0.1 размера шрифта.</li>
    </ul>

    <h3>Дополнительные правила, не заданные настройками панели</h3>
    <ul>
        <li>При навигации с клавиатуры или иной фокусировки на элементах, они подсвечиваются желтым цветом и имеют двухпиксельную внешнюю границу, цветом как у ссылок.</li>
        <li>Hover на интерактивных элементах дополняется двухпиксельной внешней границей, цветом как у ссылок.</li>
    </ul>

    <br>
    <h3>Файлы для загрузок стилей конфигурации:</h3>
    {{ macros.download_links('wcag-config', ['css', 'min.css', 'scss'], '/common') }}
    {{ macros.download_links('mixins', ['scss'], '/common') }}
    {{ macros.download_links('variables', ['scss'], '/common') }}

{% endblock %}