{% extends './layout/main.twig' %}

{% block title %}Панель ВДС{% endblock %}

{% block menu_link %}wcag-panel{% endblock %}

{% block main_title %}Панель с настройками версии сайта для слабовидящих (ВДС){% endblock %}

{% block content %}

    <div class="typography">
        <h2>Как начать пользоваться?</h2>
        <ol>
            <li>Ознакомиться с&nbsp;функционирующей панелью на&nbsp;данной странице.</li>
            <li>Прочитать описание работы панели ниже.</li>
            <li>Ознакомиться с&nbsp;версткой панели. По&nbsp;желанию можно изменить формулировки или состав и&nbsp;порядок управляющих элементов.</li>
            <li>Добавить в&nbsp;свой проект готовые к&nbsp;релизу файлы <code>css, js</code> (или их&nbsp;минифицированные варианты), либо включить файлы <code>.scss, source.js</code> в&nbsp;свою сборку frontend.</li>
        </ol>

        <h3>Что делает панель ВДС?</h3>
        <p>При изменении настроек панели она меняет <code>data-*</code> атрибуты у&nbsp;тега <code>html</code> в&nbsp;зависимости от&nbsp;выбранных значений управляющих элементов панели.</p>
        <p>Именем <code>data-*</code> атрибута становится имя выбранного управляющего элемента <code>input[type="radio"]</code> из&nbsp;соответствующей группы. Так, например, если выбран <code class="convert"><input type="radio" name="fontsize" value="very-large" checked="true"></code>, то&nbsp;для тега <code>html</code> добавится атрибут <code>data-fontsize="very-large"</code>.</p>
        <p><b>Обратите внимание</b>, что панель сама по&nbsp;себе только сохраняет и&nbsp;восстанавливает конфигурацию и&nbsp;выставляет ее&nbsp;в&nbsp;виде <code>data-*</code> атрибутов тега <code>html</code>, но&nbsp;никак не&nbsp;оказывыает прямого влияния на&nbsp;визульное отображение страницы. Для реализации ответной реакции интерфейса на&nbsp;изменение конфигурации, вы&nbsp;можете поспользоваться <a href="wcag-config.html">предоставляемой нами конфигурацией</a>, или&nbsp;же написать свое поведение интерфейса для своего проекта.</p>
        <p>Выбранное состояние панель сохраняет в <code>localStorage</code> (локальное хранилище) вашего браузера и&nbsp;восстанавливает его сразу&nbsp;же, как новая страница загружается. Мы&nbsp;рекомендуем включить выполнение JavaScript панели ВДС сразу&nbsp;же после верстки панели, не&nbsp;дожидаясь окончательной загрузки <code>DOM</code>, чтобы в&nbsp;момент загрузки DOM и&nbsp;выполнения других скриптов панель уже восстановила свое состояние и&nbsp;пользователь сразу видел страницу в&nbsp;той конфигурации, которая у&nbsp;него выбрана в&nbsp;панели.</p>
        <p>Панель ВДС поддерживает браузеры, начиная с&nbsp;IE&nbsp;9+</p>
    </div>

    {{ macros.download_links('wcag-panel', ['css', 'min.css', 'scss', 'js', 'min.js', 'source.js'], null, 'Ссылки для загрузок') }}

    <div class="docs-example">
        <div class="docs-example__view">
            HTML разметка панели ВДС, которую вы видите на сайте
        </div>
        {# В качестве примера верстки панели ВДС мы вставим... реальную, "живую" и всегда актуальную верстку панели ВДС #}
        {# Очень важно сохранить отсутствие отсупа у {% include './partials/wcag-panel.twig' %}, чтобы корректно отрендерилось #}
        <pre class="docs-example__code">
            <code class="language-html convert">
{% include './partials/wcag-panel.twig' %}</code>
        </pre>
    </div>
{% endblock %}