{% extends './layout/main.twig' %}

{% block title %}Панель ВДС{% endblock %}

{% block menu_link %}wcag-panel{% endblock %}

{% block content %}

    <div class="typography">
        <h2>Начать пользоваться</h2>
        <p>Функционирующую панель управления вы можете увидеть вверху сайта.</p>
        <p>При изменении настроек панели она меняет <code>data-*</code> атрибуты у тега <code>html</code>, в зависимости от выбранных значений панели.</p>
        <p>Именем <code>data-*</code> атрибута становится имя выбранного элемента <code>input[type="radio"]</code> из соответствующей группы. Так, например, если выбран <code class="convert"><input type="radio" name="fontsize" value="very-large" checked="true"></code>, то для тега <code>html</code> добавится атрибут <code>data-fontsize="very-large"</code>.</p>
        <p><b>Обратите внимение</b>, что панель в своем функционале только сохраняет и восстанавливает конфигурацию и передает ее в тег <code>html</code> в виде <code>data-*</code> атрибутов. Реализация реакции интерфейса на изменение конфигурации в работу панели не входит и описывается отдельно. Вы можете поспользоваться
            <a href="wcag-config.html">нашей конфигурацией</a></p>
        <p>Панель ВДС поддерживает браузеры, начиная с IE 9+</p>
    </div>

    {{ macros.download_lnks('wcag-panel', ['css', 'min.css', 'scss', 'js', 'min.js'], null, 'Ссылки для загрузок') }}

    <div class="docs-example">
        <div class="docs-example__view">
            HTML разметка панели ВДС, которую вы видете на сайте
        </div>
        {# В качестве примера верстки панели ВДС мы вставим... реальную, "живую" и всегда актуальную верстку панели ВДС #}
        {# Очень важно сохранить отсутствие отсупа у {% include './partials/wcag-panel.twig' %}, чтобы корректно отрендерилось #}
        <pre class="docs-example__code">
            <code class="language-html convert">
{% include './partials/wcag-panel.twig' %}</code>
        </pre>
    </div>
{% endblock %}