@charset "UTF-8";

























.button {
  padding: 15px;
  display: inline-block;
  font-weight: bold;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: inherit;
  color: #fff;
  background-color: #555;
}

html[data-color="white"] .button {
  color: #fff;
}

html[data-color="black"] .button {
  color: #1d1d1d;
}

html[data-color="blue"] .button {
  color: #06066b;
}

html[data-color="beige"] .button {
  color: #f7f3d6;
}

html[data-color="brown"] .button {
  color: #352518;
}

html[data-color="white"] .button {
  background-color: #555;
}

html[data-color="black"] .button {
  background-color: #ccc;
}

html[data-color="blue"] .button {
  background-color: #cc0;
}

html[data-color="beige"] .button {
  background-color: #444;
}

html[data-color="brown"] .button {
  background-color: #aad469;
}
