{% include "./partials/header-for-test.twig" %}

{# Control Panel #}
<body>

<div class="accessibility-menu " id="accessibility-menu">

    <div class="accessibility-menu__wrapper accessibility-menu__header">
        <div class="accessibility-menu__col">
            <div class="accessibility-menu__switcher-label">Размер шрифта:</div>
            <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_responsive">
                <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn " aria-label="маленький размер шрифта">Маленький</button>
                <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn " aria-label="средний размер шрифта">Средний</button>
                <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn " aria-label="большой размер шрифта">Большой</button>
            </div>

        </div>
        <div class="accessibility-menu__col">
            <div class="accessibility-menu__switcher-label">Изображения:</div>
            <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_img">
                <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn accessibility-menu__switcher-btn_img accessibility-menu__switcher-btn_img-on" data-type="img" data-view="true" aria-label="показать изображения">Вкл</button>
                <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn accessibility-menu__switcher-btn_img accessibility-menu__switcher-btn_img-off" data-type="img" data-view="false" aria-label="скрыть изображения">Выкл</button>
            </div>
        </div>
        <div class="accessibility-menu__col accessibility-menu__col_color">
            <div class="accessibility-menu__switcher-label">Цвет:</div>
            <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_color">
                <button class="js-accessibility-menu-switcher-item accessibility-menu__flag-button flag-button flag-button_white flag-button_active" aria-label="Белый фон с черным шрифтом">Б</button>
                <button class="js-accessibility-menu-switcher-item accessibility-menu__flag-button flag-button flag-button_black" aria-label="Черный фон с белым шрифтом">Ч</button>
                <button class="js-accessibility-menu-switcher-item accessibility-menu__flag-button flag-button flag-button_blue" aria-label="Голубой цвет сайта с черным шрифтом">Г</button>
            </div>
        </div>
        <div class="accessibility-menu__settings">

            <button class="accessibility-menu__dropdown-toggle" id="dropdownBtn">
                Настройки <span class="accessibility-menu__dropdown-toggle-extra-text">отображения</span>
            </button>
        </div>
    </div>

    <div class="accessibility-menu__dropdown" id="dropdownMenu" tabindex="-1" aria-expanded="false">
        <div class="accessibility-menu__wrapper">

            <div class="accessibility-menu__dropdown-item">
                <div class="accessibility-menu__switcher-label">Кернинг:</div>
                <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_double">
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn accessibility-menu__switcher-btn_increase" aria-label="увеличить расстояеие между буквами"></button>
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn accessibility-menu__switcher-btn_decrease" aria-label="уменьшить расстояеие между буквами"></button>
                </div>
            </div>

            <div class="accessibility-menu__dropdown-item">
                <div class="accessibility-menu__switcher-label">Размер шрифта:</div>
                <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_responsive">
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn " aria-label="маленький размер шрифта">Маленький</button>
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn " aria-label="средний размер шрифта">Средний</button>
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn " aria-label="большой размер шрифта">Большой</button>
                </div>
            </div>

            <div class="accessibility-menu__dropdown-item">
                <div class="accessibility-menu__switcher-label">Изображения:</div>
                <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_img">
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn accessibility-menu__switcher-btn_img accessibility-menu__switcher-btn_img-on" data-type="img" data-view="true" aria-label="показать изображения">Вкл</button>
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__switcher-btn accessibility-menu__switcher-btn_img  accessibility-menu__switcher-btn_img-off" data-type="img" data-view="false" aria-label="скрыть изображения">Выкл</button>
                </div>
            </div>
            <div class="accessibility-menu__dropdown-item">
                <div class="accessibility-menu__switcher-label">Цвет:</div>
                <div class="js-accessibility-menu-switcher accessibility-menu__switcher accessibility-menu__switcher_color">
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__flag-button flag-button flag-button_white flag-button_active" aria-label="Белый фон с черным шрифтом">Б</button>
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__flag-button flag-button flag-button_black" aria-label="Черный фон с белым шрифтом">Ч</button>
                    <button class="js-accessibility-menu-switcher-item accessibility-menu__flag-button flag-button flag-button_blue" aria-label="Голубой цвет сайта с черным шрифтом">Г</button>
                </div>
            </div>

            <div class="accessibility-menu__dropdown-item">

                <div class="accessibility-menu__switcher accessibility-menu__reset">
                    <button class="accessibility-menu__switcher-btn_reset accessibility-menu__switcher-btn " aria-label="Вернуть стандартные настройки"> Вернуть <span class="mobile-hidden">стандартные</span> настройки</button>
                </div>

                <div class="accessibility-menu__switch-default">
                    <a href="#" class="accessibility-menu__default-link " aria-label="Обычная версия сайта">Обычная версия <span class="mobile-hidden">сайта</span></a>
                </div>

                <div class="accessibility-menu__switcher accessibility-menu__close">
                    <button class=" accessibility-menu__switcher-btn " aria-label="закрыть панель">Закрыть панель</button>
                </div>
            </div>
        </div>

    </div>

</div>

{% include "./partials/footer-for-test.twig" %}