{% include "./partials/header-for-test.twig" %}

{# Control Panel #}
<body>
<div class="new-control-panel">
    <div class="new-control-panel__wrapper">
        <div class="new-control-panel__col">
           Размер шрифта
            <div class="new-control-panel__switcher">
                <button class="new-control-panel__switcher-btn" data-type="font-size" data-increase="true" aria-label="увеличить размер шрифта"></button>
                <button class="new-control-panel__switcher-btn" data-type="font-size" data-increase="false" aria-label="увеличить размер шрифта"></button>
            </div>

        </div>
        <div class="new-control-panel__col">
           Кернинг
            <div class="new-control-panel__switcher">
                <button class="new-control-panel__switcher-btn" data-type="letter-spacing" data-increase="true" aria-label="увеличить расстояеие между буквами"></button>
                <button class="new-control-panel__switcher-btn" data-type="letter-spacing" data-increase="false" aria-label="уменьшить расстояеие между буквами"></button>
            </div>
        </div>
        <div class="new-control-panel__col">
           Изображения
           <div class="new-control-panel__switcher">
               <button class="new-control-panel__switcher-btn" data-type="img" data-view="true" aria-label="показать изображения"></button>
               <button class="new-control-panel__switcher-btn" data-type="img" data-view="false" aria-label="скрыть изображения"></button>
           </div>
        </div>
    </div>
</div>

<div>
    <img src="/src/" alt="er">
</div>
{% include "./partials/footer-for-test.twig" %}