{% include "./partials/header-for-test.twig" %}

<nav class="nav" role="navigation" aria-label="testing experimental nav">
    <ul>

        <li class="nav__item nav__item_active">
            <a class="nav__link" href="#" title="company information">
                Item 1
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="contacts information">
                Item 2
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="documents example">
                Item 3
            </a>
        </li>
    </ul>
</nav>

{% include "./partials/footer-for-test.twig" %}