

{% macro text() %}
    <input type="text" value="Иван" placeholder="Введите ваше имя">
    <br><br>
    <input type="email" value="" placeholder="Введите адрес электронной почты">
    <br><br>
    <input type="search" placeholder="Введите строку для поиска">
    <br><br>
    <input type="number" placeholder="Сколько вам полных лет?">
    <br><br>
    <input type="text" placeholder="Ваш любимый напиток?" disabled>
    <br><br>
    <textarea rows="4"></textarea>
{% endmacro %}

{% macro textRequired(value, placeholder, isStrict) %}
    <input type="text" value="{{ value }}" placeholder="{{ placeholder }}" {{ isStrict ? 'required' : 'aria-required="true"' }}>
{% endmacro %}

{#
+ text/email/search/number
range
checkbox
radio
range
password
submit/reset/button
color
date
#}

{% import _self as view %}

<form action="/" onsubmit="return false;" class="form">
    <p>Поля для ввода текста, электронной почты, чисел и поиска имеют одинаковые стили отображения и одинаковое <code>disabled</code> состояние.</p>
{{ macros.html(view.text()) }}
</form>
