* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    $default-fontsize: 18;

    font-size: $default-fontsize*1px;
    color: #000;
    line-height: 1.25em;
    font-family: Arial, sans-serif;


    //font-size
    &[data-fontsize="small"] {
        font-size: $default-fontsize*0.7*1px;
    }
    &[data-fontsize="large"] {
        font-size: $default-fontsize*1.5px;
    }
    &[data-fontsize="super"] {
        font-size: $default-fontsize*2px;
    }

    //kerning
    &[data-kerning="small"] {
        letter-spacing: -0.05em;
    }
    &[data-kerning="large"] {
        letter-spacing: 0.05em;
    }
    
    &[data-images="hidden"] {
        img {
            visibility: hidden;
        }
    }
}

body {
    background: white;
    transition: opacity 0.15s ease-in-out;

    html[data-color="black"] &{
        color: #fff;
        background: #000;
    }

    html[data-color="yellow"] &{
        color: #000;
        background: #fff999;
    }

    html[data-color="blue"] & {
        color: #000;
        background-color: #c9f6fd;
    }
}

a {

    &[href] {
        color: #0000cc;
        text-decoration: underline;
        &:visited {
            color: #660099;
        }
        &:hover, &:focus, &:active {
            outline: 3px solid #ffa;
            text-decoration: underline;
            background: #ffa;
            color: #BF1722;
        }

    }

    &.disabled {
        color: #333333;
        cursor: not-allowed;
    }

    // Theme black

    html[data-color="black"] & {

        &[href] {
            color: #969691;

            &:visited {
                color: #99FF66;
            }

            &:hover, &:focus, &:active {
                color: #bf1722;
                background: #d8edff;
                outline-color: #d8edff;
            }

            &.disabled {
                color: #cbcbcb;
            }
        }

    }
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}