* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    color: #000;
    font-size:18px;
    line-height: 1.25em;
    font-family: Arial, sans-serif;

    background: white;
    transition: opacity 0.15s ease-in-out;

    &[data-text="small"] {
        font-size: 14px;
    }

    &[data-text="normal"] {
        font-size: 18px;
    }

    &[data-text="large"] {
        font-size: 22px;
    }

    &[data-color="black"] {
        color: #fff;
        background: #000;
    }
}

a {

    &[href] {
        color: #0000cc;
        text-decoration: underline;
        &:visited {
            color: #660099;
        }
        &:hover, &:focus, &:active {
            outline: 3px solid #ffa;
            text-decoration: underline;
            background: #ffa;
            color: #BF1722;
        }

    }

    &.disabled {
        color: #333333;
        cursor: not-allowed;
    }

    // Theme black

    body[data-color="black"] & {

        &[href] {
            color: #969691;

            &:visited {
                color: #99FF66;
            }

            &:hover, &:focus, &:active {
                color: #bf1722;
                background: #d8edff;
                outline-color: #d8edff;
            }

            &.disabled {
                color: #cbcbcb;
            }
        }

    }
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}