// ==========================================================================
// Select
// ==========================================================================

.select {
    padding: 5px;

    color: #000;

    border: 2px solid #000;

    &:focus {
        outline: 3px solid #0000cc;
    }

    html[data-color="black"] & {
        color: #fff;

        border-color: #fff;
        background: #000;

        &:focus {
            outline-color: #BF1722;
        }
    }
}