{% macro alert() %}
<div class="alert" role="alert">
    Сообщение
</div>
{% endmacro %}

{% import _self as view %}

<h2 class="h2">{{ title }}</h2>
<p>Элемент с атрибутом role=”alert” прочитывается скрин-ридером, сразу как элемент появляется на странице.</p>

{{ macros.download_lnks('alert', ['css', 'min.css', 'scss'], null, 'Ссылки для загрузок') }}

{{ macros.html(view.alert()) }}
