{% set menu = [{
    title: 'Ссылка 1',
    link: '#link-1'
},{
    title: 'Ссылка 2',
    link: '#link-2'
},{
    title: 'Пункт с выпадающим меню',
    subitems: [{
        title: 'Подменю 1',
        link: '#1'
        },{
        title: 'Подменю 2',
        link: '#2'
        },{
        title: 'Подменю 3',
        link: '#3'
    }]
},{
    title: 'Ссылка с выпадающим меню',
    link: '#link-4',
    subitems: [{
        title: 'Подменю 1',
        link: '#1'
        },{
        title: 'Подменю 2',
        link: 'l#2'
        },{
        title: 'Подменю 3',
        link: '#3'
    }]
},{
    title: 'Ссылка 5',
    link: '#link-5',
}] %}

{% set options = {
    items: menu,
    activeLink: '#link-4'
} %}

{% set optionsTwo = {
items: menu,
activeLink: '#link-4',
disableHover: 'true'
} %}

{% set optionsThree = {
items: menu,
activeLink: '#link-4',
    hideTimeout: 300
} %}

<p>Ссылки в пунктах меню дополняются атрибутом <code>role="menuitem"</code>.</p>
<p>Если у пункта должно быть подменю, то добавьте внурть пункта списка.</p>
<p>Используйте тег <code class="convert"><a href="#"></a></code> для триггера выпадающего меню только в том случае, если пункт сам является самостоятельной ссылкой. Для пункта меню, основная задача которого лишь содержание подменю, используйте текстовый тег, например <code class="convert"><span></span></code>. Для текстовых пунктов меню не забудьте добавить атрибут <code>tabindex="0"</code>, чтобы разрешить фокус на элементе.</p>
<p>Для элемента, который содержит подменю, используйте атрбуты <code>aria-haspopup="true", aria-expanded</code>, чтобы сообщить экранным чтецам о том, что в пункте содержится подменю и оно сейчас скрыто/раскрыто.</p>
<p>Для ссылки меню, которая ведет на текущую страницу, добавьте атрибут <code>aria-current="page"</code>.</p>

<h3>Функциональные возможности меню</h3>
<p>Навигация меню доступна с клавиатуры. Воспользуйтесь клавишей <code>tab</code>, чтобы перейти к следующему пункту меню и сочетанием клавиш <code>shift + tab</code>, чтобы вернуться к предыдущему.</p>
<p>Нажатие клавиши <code>enter</code> или <code>spacebar (пробел)</code> на пункте, содержащим подменю, раскроет его. Повторное нажатие скроет.</p>
<p><b>Важно!</b> Пункты с подменю, которые являются ссылками, при нажатии клавиши <code>enter</code> переведут вас по этой ссылке. Мы рекомендуем проектировать структуру меню таким образом, чтобы пункты с подменю являлись текстовыми, а не ссылками, во избежание незапланированных переходов по ним при работе с клавиатурой.</p>
<p>Нажатие клавиши <code>стрелка вниз</code> на пункте раскроет его подменю, нажатие <code>стрелка вверх</code> скроет.</p>
<p>Клик вне меню закрывает все его пункты.</p>
<p>Уход клавишей <code>tab</code> с раскрытого пункта меню закрывает его подменю.</p>



{{ macros.html(macros.mainMenu(options)) }}

<p>Меню поддерживает дополнительные параметры. Так, если при создании виджета указать ему <code>disabledHover: true</code>, то меню отключит раскрытие при hover. Раскрыть подменю можно будет кликом по пункту.</p>
<pre>
    <code class="language-javascript">
        const menu = document.getElementById('#menu');
        new Menu(menu, {
            disabledHover: true
        })
    </code>
</pre>
<p>Пример ниже демонстрирует фунционирование меню с такой настройкой:</p>
{{ macros.mainMenu(optionsTwo) }}

<p>Вы можете задать время, по прошествии которого меню будет скрыто при hover эфектах. </p>
<p><b>Обратите внимание,</b> что данная настройка не работает, если выбрано <code>disabledHover: true</code>.</p>
<pre>
    <code class="language-javascript">
        const menu = document.getElementById('#menu');
        new Menu(menu, {
            hideTimeout: 300
        })
    </code>
</pre>
<p>Например, <code>hideTimeout: 300</code> заставит меню закрываться только спустя 300 милисекунд. В некоторых интерфейсах это существенно облегчит работу пользователям с нарушением опорно-двигательного аппарата. Пример:</p>
{{ macros.mainMenu(optionsThree) }}

{{ macros.download_links('menu', ['css', 'min.css', 'scss', 'js', 'min.js', 'source.js'], null, 'Ссылки для загрузок') }}