@import "../../config";

.media {
    @include clearfix();

    margin-bottom: 30px;

    &__left {
        float: left;
        margin-right: 20px;
    }

    &__body {
        overflow: hidden;
    }

    &__title {
        margin-bottom: 2px;
    }


    &__text {
        font-size: 1em;
        line-height: 1.4em;
        margin-bottom: 3px;
    }
    a {
        @include link-typography(false);
    }

}


.application[data-color="black"] {
    .media {
        a {
            @include link-typography(true);
        }
    }
}