<div class="control-panel" aria-hidden="true">
    <div class="control-panel__wrapper">
        <div class="control-panel__col">
            Размер шрифта:
            <select class="control-panel__select-text select">
                <option value="small">
                    Маленький
                </option>
                <option value="normal">
                    Средний
                </option>
                <option value="large">
                    Большой
                </option>
            </select>
        </div>
        <div class="control-panel__col">
            Цвет сайта:
            <select class="control-panel__select-color select">
                <option value="white">
                    Белый
                </option>
                <option value="black">
                    Черный
                </option>
            </select>
        </div>
        <div class="control-panel__col">
            Изображения:
            <select class="control-panel__select-image select">
                <option value="visible" >
                    Включены
                </option>
                <option value="hidden">
                    Выключены
                </option>
            </select>
        </div>
    </div>
</div>