.faq {
    margin-bottom: 36px;

    &__form {
        padding-bottom: 20px;
        margin-bottom: 30px;

        border-bottom: 1px solid  #000;

        sup {
            position: relative;

            top: -.5em;

            color: #000;
            font-size: 75%;
            line-height: 0;

            vertical-align: baseline;

            html[data-color="black"] & {
                    sup {
                        color: #fff;
                        top: -.5em;
                    }
            }
        }
    }

    &__item {
        margin-bottom: 20px;
        padding-bottom: 15px;

        border-bottom: 1px solid  #000;
    }

    &__answer {
        margin: 8px 0 0 30px;
    }

    &__question {
        &-time {
            margin-bottom: 0.5em;
        }
    }

    // Theme black

    html[data-color="black"] & {

        &__form {
            border-bottom: 1px solid  #fff;
        }

        &__item {
            border-bottom: 1px solid  #fff;
        }

    }
}