<footer class="footer" role="contentinfo">
    <p>© Администрация департамента города Томска, 2016 г.</p>
</footer>

<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="../../../dist/accessibility.js"></script>
