<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Шаблон сайта на ВДС</title>
    <link rel="stylesheet" href="../../../dist/accessibility.css">
    <link rel="stylesheet" href="assets/styles/css/full.css">
</head>

<body class="container init">


<header class="header" role="banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                12 декабря 2016
            </div>
            <a class="header__site-version pull-right" href="#">
                Обычная версия сайта
            </a>
        </div>
    </div>
    <div class="h1">
        Департамент образования города Томска
    </div>
    <div class="h3">
        официальный сайт
    </div>

{% include "./control-panel.twig" %}