<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Accessible template</title>
    <link rel="stylesheet" href="../../../dist/accessibility.css">
    <link rel="stylesheet" href="assets/styles/css/full.css">
</head>