<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Шаблон сайта на ВДС</title>
    <link rel="stylesheet" href="../../../dist/accessibility.css">
    <link rel="stylesheet" href="assets/styles/css/full.css">
</head>