<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Accessible template</title>
    <link rel="stylesheet" href="/dist/accessibility.css">
    <link rel="stylesheet" href="assets/styles/css/full.css">
</head>
<body class="application container">

{% include "./partials/control-panel.twig" %}
<div>
    <header class="header" role="banner">
        <div class="pull-left">
            31 марта 2016
        </div>
        <a class="header__site-version pull-right" href="#">
            Обычная версия сайта
        </a>
        <h1>
            Доступный Сайт </h1>
        <h4>
            Шаблон доступного сайта</h4>

        <nav class="nav" aria-label="горизонтальная навигация">
            <ul>
                <li>
                    <a href="faq.html" title="На этой страницу вы найдете ответы на частозадаваемые вопросы">
                        Вопрос-ответ
                    </a>
                </li>
                <li>
                    <a href="/index.html" title="Главная страница сайта">Главная</a>
                </li>
                <li>
                    <a href="/components.html" title="наши компоненты">Компоненты</a>
                </li>
                <li class="active">
                    <a href="/content.html">Контент</a>
                </li>
                <li>
                    <a href="/gallery.html">Галлерея</a>
                </li>
                <li>
                    <a href="/gallery-inner.html">Галлерея-внутри</a>
                </li>
                <li>
                    <a href="/news.html">Новости</a>
                </li>
                <li>
                    <a href="/quize.html">Опрос</a>
                </li>
                <li>
                    <a href="/search.html">Поиск</a>
                </li>
                <li>
                    <a href="/npa.html">Список</a>
                </li>
            </ul>
        </nav>

        <form class="row" action="" role="search">
            <div class="col-xs-12">
                <label for="search" class="hidden">Поиск по сайту</label>

                <input class="input col-xs-10" id="search" type="text">
                <button class="col-xs-2 button" type="submit" value="Отправка формы">
                    Найти
                </button>
            </div>

        </form>

    </header>

    <main class="main" role="main">

            <article class="typography">
                <h1>Заголовок H1</h1>

                <h2>Заголовок H2</h2>

                <h3>Заголовок H3</h3>

                <h4>Заголовок H4</h4>

                <p>Lorem
                    <a href="">ipsum</a>  dolor sit amet, <a href="">consectetur</a>   adipi elit. Amet cumque <a href="" class="disabled">DISABLED</a> eos ipsum laudantium natus nesciunt odio placeat soluta? Dicta dolorem earum esse laboriosam nam nihil nostrum odit provident, quasi saepe!</p>


                <ul>
                    <li>Бюджет сельских поселений</li>
                    <li>«Межениновская средняя общеобразовательная школа»
                        <ul>
                            <li>Бюджет сельских поселений</li>
                            <li>«Межениновская средняя общеобразовательная школа»</li>
                            <li>Муниципальное образование</li>
                        </ul>
                    </li>
                    <li>Муниципальное образование</li>
                </ul>

                <ol>
                    <li>Бюджет сельских поселений</li>
                    <li>«Межениновская средняя общеобразовательная школа»
                        <ol>
                            <li>Бюджет сельских поселений</li>
                            <li>«Межениновская средняя общеобразовательная школа»</li>
                            <li>Муниципальное образование</li>
                        </ol>
                    </li>
                    <li>Муниципальное образование</li>
                </ol>

                <p>
                    <strong>Таблица 1. Перечень постановлений</strong>
                </p>

                <div class="table">
                    <table summary="В этой таблице описывается что закон такой-то введен тогда-то">
                        <thead>
                        <tr>
                            <th scope="col">№ п/п</th>
                            <th scope="col">№ постановления</th>
                            <th scope="col">Дата принятия</th>
                            <th scope="col">Наименование нормативного правового акта</th>
                            <th scope="col">Наименование нормативного правового акта</th>
                            <th scope="col">Публ. (офиц,вед. ЗДТО)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>1764</td>
                            <td>30.01.2014</td>
                            <td>О проекте закона Томской области «О внесении изменений в ЗаконТомской области «О предоставлении и изъятии земельных участков в Томской области»</td>
                            <td>О проекте закона Томской области «О внесении изменений в ЗаконТомской области «О предоставлении и изъятии земельных участков в Томской области»</td>
                            <td>№ 27 (203)</td>
                        </tr>
                        <tr>
                            <td scope="row">1</td>
                            <td>1764</td>
                            <td>30.01.2014</td>
                            <td>О проекте закона Томской области «О внесении изменений в ЗаконТомской области «О предоставлении и изъятии земельных участков в Томской области»</td>
                            <td>О проекте закона Томской области «О внесении изменений в ЗаконТомской области «О предоставлении и изъятии земельных участков в Томской области»</td>
                            <td>№ 27 (203)</td>
                        </tr>
                        <tr>
                            <td scope="row">1</td>
                            <td>1764</td>
                            <td>30.01.2014</td>
                            <td>О проекте закона Томской области «О внесении изменений в ЗаконТомской области «О предоставлении и изъятии земельных участков в Томской области»</td>
                            <td>О проекте закона Томской области «О внесении изменений в ЗаконТомской области «О предоставлении и изъятии земельных участков в Томской области»</td>
                            <td>№ 27 (203)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>

    </main>

    {% include "partials/footer.twig" %}
</div>

<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="/dist/accessibility.js"></script>
</body>
</html>