<div class="page-content__sidebar">
    <nav>
        <ul>
            <li><a href="#buttons">Кнопки</a></li>
        </ul>
    </nav>
</div>
<div class="page-content__content">
    <h1 class="h1">Компоненты</h1>

    <div id="buttons">
        {% include './partials/buttons.twig' %}
    </div>
</div>
