
<h1 class="h1">Компоненты</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolore in laudantium molestias optio perferendis porro quae similique. Architecto assumenda aut consequuntur doloribus enim facere, iste nulla quos recusandae reiciendis.</p>

{% include './partials/buttons.twig' %}