{# Используемые компоненты #}
{% set components = [{
    link: '#pagination',
    title: 'Пагинация'
},{
    link: '#alert',
    title: 'Уведомление'
},{
    link: '#collapse',
    title: 'Раскрывающийся список'
},{
    link: '#buttons',
    title: 'Кнопки'
},{
    link: '#nav',
    title: 'Навигация'
}] %}

{# Options для построения навигации по компонентам #}
{% set navOptions = {
    items: components,
    isVertical: 'true'
} %}

<div class="page-content__sidebar">
    {{ macros.nav(navOptions) }}
</div>


<div class="page-content__content">
    <h1 class="h1">Компоненты</h1>

    {# item.link|slice(1) убирает # в начале ссылки #}
    {% for item in components %}
        <div id="{{ item.link|slice(1) }}" style="margin-bottom: 100px">
            {% include './partials/'~item.link|slice(1)~'.twig' with {title: item.title}%}
        </div>
    {% endfor %}
</div>
