<div class="typography">
    {% include './typography/table.twig' %}
    {% include './typography/article.twig' %}
    {% include './typography/lists.twig' %}
    {% include './typography/quote.twig' %}
</div>

