// ==========================================================================
// Label
// @TODO: Проверить точность шрифтов и отступов. Откуда такие параметры?
// ==========================================================================

.label {
    display: inline;
    padding: .2em .6em .3em;
    margin-bottom: 1px;

    color: #fff;
    font-size: 75%;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;

    background: black;

    vertical-align: baseline;

    // Theme black

    body[data-color="black"] & {
        color: black;
        background: white;
    }
}