.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    background: black;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    
}
// ==========================================================================
// Theme black
// ==========================================================================

.application[data-color="black"] {
.label {
    background: white;
    color: black;
}
}