// ==========================================================================
// Label
// @TODO: Проверить точность шрифтов и отступов. Откуда такие параметры?
// ==========================================================================

.label {
    display: inline-block;
    padding: .2em .6em .3em;

    color: #fff;
    font-size: 75%;
    line-height: 1;
    font-weight: 700;
    text-align: left;

    background: black;

    vertical-align: baseline;

    // Theme black

    html[data-color="black"] & {
        color: black;
        background: white;
    }
}