{# Alerts #}

<div id="alert">
    <div class="typography">
        <h2>Alerts</h2>
        <p>Element that gives role="alert" causes the message to be immediately read by the screen reader</p>
        {#<p>Элемент с атрибутом role=”alert” прочитывается скрин-ридером, сразу как элемент появляется на странице.</p>#}
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <div class="alert" role="alert">
                Alert message
            </div>
        </div>
         <pre class="docs-example__code">
            <code class="language-markup convert">
                 <div class="alert" role="alert">
                     ...
                 </div>
            </code>
        </pre>
    </div>
</div>