{# Badge #}

<div id="badge" class="docs-component">
    <div class="docs-component__header">
        Label
    </div>

    <h2>
        Example heading <span class="label">New</span>
    </h2>

    <pre>
        <code class="language-markup convert">
            <h2>
                Example heading <span class="label">New</span>
            </h2>
        </code>
    </pre>
</div>

<div class="docs-component">
    <div class="docs-component__header">
        Badge
    </div>

    <a href="#">Inbox<span class="badge">42</span></a>

    <pre>
        <code class="language-markup convert">
            <a href="#">Inbox<span class="badge">42</span></a>
        </code>
    </pre>

    <button class="button" type="button">
        Messages <span class="badge">4</span>
    </button>

    <pre>
        <code class="language-markup convert">
            <button class="button" type="button">
                Messages <span class="badge">4</span>
            </button>
        </code>
    </pre>
</div>