{# Badge #}

<div id="badge">

    <div class="typography">
        <h2>Badge</h2>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <a href="#">Inbox<span class="badge">42</span></a>

            <button class="button" type="button" style="margin-left: 30px;">
                Messages <span class="badge">4</span>
            </button>

        </div>

        <pre class="docs-example__code">
            <code class="language-markup convert">
                <a href="#">Inbox<span class="badge">42</span></a>
            </code>
        </pre>

        <pre class="docs-example__code">
            <code class="language-markup convert">
                <button class="button" type="button">
                    Messages <span class="badge">4</span>
                </button>
            </code>
        </pre>
    </div>
</div>