{# Breadcrumbs #}
{# @TODO: Перевести описание на английский. #}

<div id="breadCrumbs">

    <div class="typography">
        <h2>Breadcrumbs</h2>
        <p>Хлебные крошки выполняются с помощью тега nav, также указывается aria-label с описанием.</p>
        <p>В качестве разделителя между элементами списка вставляется span с атрибутом aria-hidden="true" для того, чтобы скрин-ридеры не прочитывали этот символ.</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <nav class="breadcrumbs" aria-label="хлебные крошки">
                <ul>
                    <li class="breadcrumbs__item">
                        <a href="#">Home</a>
                    </li>
                    <span class="breadcrumbs__separator" aria-hidden="true"></span>
                    <li class="breadcrumbs__item">
                        <a href="#" title="2014 year">Articles</a>
                    </li>
                    <span class="breadcrumbs__separator" aria-hidden="true"></span>
                    <li class="breadcrumbs__item">
                        <span>Article</span>
                    </li>
                </ul>
            </nav>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup convert">
                <nav class="breadcrumbs" aria-label="Articles navigation">
                    <ul>
                        <li class="breadcrumbs__item">
                            <a href="#">Home</a>
                        </li>
                        <span class="breadcrumbs__separator" aria-hidden="true"></span>
                        <li class="breadcrumbs__item">
                            <a href="#" title="2014 year">Articles</a>
                        </li>
                        <span class="breadcrumbs__separator" aria-hidden="true"></span>
                        <li class="breadcrumbs__item">
                            <span>Article</span>
                        </li>
                        <span class="breadcrumbs__separator" aria-hidden="true"></span>
                    </ul>
                </nav>
            </code>
        </pre>
    </div>
</div>