{# Collapse #}
{# @TODO: Перевести описание на английский. #}

<div id="collapse">

    <div class="typography">
        <h2>Collapse</h2>
        <p>Для того, чтобы пользователь мог услышать изменение, при раскрытии панели используется aria-expanded.</p>
        <p>Скрипт автоматически изменяет атрибут и фокусируется на раскрытой области.</p>
        <p>Для использования добавьте кнопке класс collapse-button, и укажите в атрибуте aria-controls id элемента для управления.</p>
        <p>Tabindex используется для корректной работы скрипта.</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <button class="button collapse-button" aria-controls="elemToCtrl" value="показать">
                Collapse
            </button>

            <div id="elemToCtrl" class="collapse" tabindex="-1" aria-expanded="false">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dignissimos dolorem dolores enim et, facere magni qui quidem quod voluptatibus!
            </div>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup convert">
                <button class="button collapse-button" aria-controls="elemToControl" value="show">
                    Collapse
                </button>
                <div id="elemToControl" class="collapse" tabindex="-1" aria-expanded="false">
                    ...
                </div>
            </code>
        </pre>
    </div>
</div>