{# Control Panel #}

<div id="control-panel">

    <div class="typography">
        <h2>Control panel</h2>
        <p>Панель управления используется для изменения оформления компонентов библиотеки.<br> С ее помощью можно изменять размеры шрифтов, цветовые схемы компонентов и скрывать изображения.</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <div class="control-panel">
                <div class="row">
                    <div class="col-xs-4">
                        <label>Font size:</label>
                        <select class="control-panel__select-text select" disabled>
                            <option value="small">
                                Small
                            </option>
                            <option value="normal">
                                Medium
                            </option>
                            <option value="large">
                                Large
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label>Color scheme:</label>
                        <select class="control-panel__select-color select" disabled>
                            <option value="white">
                                White
                            </option>
                            <option value="black">
                                Black
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label>Images:</label>
                        <select class="control-panel__select-image select" disabled>
                            <option value="visible">
                                Enable
                            </option>
                            <option value="hidden">
                                Disabled
                            </option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup convert">

                <div class="control-panel">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Font size:</label>
                            <select class="control-panel__select-text select">
                                <option value="small">
                                    Small
                                </option>
                                <option value="normal">
                                    Medium
                                </option>
                                <option value="large">
                                    Large
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label>Color scheme:</label>
                            <select class="control-panel__select-color select">
                                <option value="white">
                                    White
                                </option>
                                <option value="black">
                                    Black
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label>Images:</label>
                            <select class="control-panel__select-image select">
                                <option value="visible">
                                    Enable
                                </option>
                                <option value="hidden">
                                    Disabled
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </code>
        </pre>
    </div>

</div>