{# Control Panel #}

<div id="control-panel">

    <div class="typography">
        <h2>Control Panel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, impedit vitae. Ab architecto culpa dignissimos, doloremque dolores earum, eum facere fugit id iste laborum magnam minima odio pariatur perferendis quae quia reprehenderit repudiandae sit tenetur! A animi, eveniet fuga incidunt minus obcaecati omnis placeat quas sed! Ea nihil suscipit tenetur?</p>
    </div>

</div>