{# Forms #}

<div id="form">

    <div class="typography">
        <h2>Forms</h2>
        <p>
            <a href="https://www.w3.org/WAI/tutorials/forms/" target="_blank">
                https://www.w3.org/WAI/tutorials/forms/
            </a>
        </p>

        <p>You can use 3 mechanisms to identify each form control: label element, WAI-ARIA or title attribute</p>
        <p>We decided to use label element in 2 different ways</p>
        {#<p>Спецификация позволяет использовать 3 способа для индентификации элементов форм. WAI-ARIA, title атрибут или label. Мы остановились на варианте с label.</p>#}
        <h3>Input with label</h3>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <label for="search_1" class="label">
                Search
            </label>
            <input id="search_1" class="input" type="text">
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup convert">
                <label for="search_2" class="label">
                    Search
                </label>
                <input id="search_2" class="input" type="text">
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Input with hidden label</h3>
        <p> The label element is provided to identify a form control within the code, but it is visually hidden to avoid redundancy for users who can derive the purpose from the visual cues.</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <label for="search_hidden" class="label hidden">
                Search
            </label>

            <input id="search_hidden" class="input" type="text" name="search">
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup convert">
                  <label for="search_3" class="label hidden">
                    Search
                </label>
                <input id="search_3" class="input" type="text" name="search">
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Textarea</h3>
        <p>Textarea should have descriptive label</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <label for="textarea" class="label">
                Message
            </label>
            <textarea id="textarea" class="textarea textarea_block"></textarea>
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup convert">
                <label for="message" class="label">
                    Message
                </label>
                <textarea id="message" class="textarea"></textarea>
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Select</h3>
        <p>To improve the accessibility of this list even further, we could add optgroup, to group the options.</p>
        <p>You can use aria-disabled to identify disabled elements</p>
        {#<p>Для группировки опций в элементе select используйте optgroup.</p>#}
        {#<p>Aria-disabled используется для обозначения disabled элемента (см.<a href="https://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled">https://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled</a>)#}
        {#</p>#}
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <select class="select" name="select" title="выберите параметры">
                <optgroup label="цвета">
                    <option value="1" selected>
                        white
                    </option>
                    <option value="2" disabled aria-disabled="true">
                        black
                    </option>
                </optgroup>
                <optgroup label="размер">
                    <option value="1" selected>
                        large
                    </option>
                    <option value="2">
                        small
                    </option>
                </optgroup>
            </select>
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup">
                 &ltselect class="select" name="select" title="выберите параметры"&gt
                    &ltoptgroup label="цвета"&gt
                        &ltoption value="1"&gt
                            белый
                        &lt/option&gt
                        &ltoption value="2" disabled aria-disabled="true"&gt
                            черный
                        &lt/option&gt
                    &lt/optgroup&gt
                     &ltoptgroup label="размер"&gt
                        &ltoption value="1"&gt
                            большой
                        &lt/option&gt
                        &ltoption value="2"&gt
                            маленький
                        &lt/option&gt
                    &lt/optgroup&gt
                &lt/select&gt
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Fieldset</h3>
        <p>The <code>&lt;fieldset&gt;</code> element provides a container for related form controls, and the <code>&lt;legend&gt;</code> element acts like a heading to identify the group.</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <fieldset class="fieldset">
                <legend class="fieldset__legend">Output format</legend>
                <div>
                    <input id="txt" type="radio" name="format" value="txt" checked>
                    <label for="txt">Text file</label>
                </div>
                <div>
                    <input id="csv" type="radio" name="format" value="csv">
                    <label for="csv">CSV file</label>
                </div>
                <div>
                    <input id="html" type="radio" name="format" value="html">
                    <label for="csv">HTML file</label>
                </div>
            </fieldset>
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup convert">
                <fieldset class="fieldset">
                    <legend class="fieldset__legend">Output format</legend>
                        ...
                </fieldset>
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Checkbox</h3>
        <p>Checkbox should have role="checkbox", and dynamically changes aria-checked and aria-disabled attributes </p>
        {#<p>Элемент checkbox должен иметь role="checkbox", а также динамически изменяющийся aria-checked и aria-disabled, которые обозначают состояние чекбокса.</p>#}
        {#<p>Вы можете использовать следующую разметку, а скрипт автоматически добавит нужные атрибуты.</p>#}
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <div class="checkbox__field" role="group">
                <input id="checkbox1" type="checkbox" role="checkbox" name="checkbox1" value="чекбокс1" disabled>
                <label id="checkboxLabel" for="checkbox1">
                    Checkbox 1 (disabled)
                </label>
                <input id="checkbox2" type="checkbox" role="checkbox" name="checkbox2" value="чекбокс2">
                <label id="checkboxLabel" for="checkbox2">
                    Checkbox 2 (default)
                </label>
                <input id="checkbox3" type="checkbox" role="checkbox" name="checkbox3" value="чекбокс3" checked>
                <label id="checkboxLabel" for="checkbox3">
                    Checkbox 3 (checked)
                </label>
            </div>
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup">
                &ltdiv role="group"&gt
                    &ltinput id="checkbox1" type="checkbox" role="checkbox"
                           name="checkbox1" value="чекбокс1" disabled&gt
                    &ltlabel id="checkboxLabel" for="checkbox1"&gtCheckbox 1 (disabled)&lt/label&gt
                    &ltinput id="checkbox2" type="checkbox" role="checkbox"
                           name="checkbox2" value="чекбокс2"&gt
                    &ltlabel id="checkboxLabel" for="checkbox2"&gtCheckbox 2 (default)&lt/label&gt
                    &ltinput id="checkbox2" type="checkbox" role="checkbox"
                           name="checkbox3" value="чекбокс2" checked&gt
                    &ltlabel id="checkboxLabel" for="checkbox2"&gtCheckbox 3 (checked)&lt/label&gt
                &lt/div&gt
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Radio</h3>
        <p>Radio elements should be wrapped in div with role="radiogroup", have role="radio" and dynamically changes aria-checked and aria-disabled attributes </p>
        {#<p>Элементы radio должны быть обернуты в div с role="radiogroup" и иметь атрибут role="radio", а также динамически изменяющийся aria-checked и aria-disabled, которые обозначают состояние.</p>#}
        {#<p>Вы можете использовать следующую разметку, а скрипт автоматически добавит нужные атрибуты.</p>#}
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <div class="radio__field" role="radiogroup">
                <input id="radio1" type="radio" role="radio" name="group1" value="First">
                <label id="label1" for="radio1">First (default)</label>

                <input id="radio2" type="radio" role="radio" name="group1" value="Second" disabled>
                <label id="label2" for="radio2">Second (disabled)</label>

                <input id="radio3" type="radio" role="radio" name="group1" value="Third" checked>
                <label id="label3" for="radio3">Third (checked)</label>
            </div>
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup">
                &ltdiv role="radiogroup"&gt
                    &ltinput id="radio1" type="radio" role="radio" name="group1" value="First"&gt
                    &ltlabel id="label1" for="radio1"&gtПервый&lt/label&gt

                    &ltinput id="radio2" type="radio" role="radio" name="group1" value="Second" disabled&gt
                    &ltlabel id="label2" for="radio2"&gtВторой&lt/label&gt

                    &ltinput id="radio3" type="radio" role="radio" name="group1" value="Third" checked&gt
                    &ltlabel id="label3" for="radio3"&gtТретий&lt/label&gt
                &lt/div&gt
            </code>
        </pre>
    </div>

    <div class="typography">
        <h3>Submit button</h3>
        <p>For form buttons (submit and reset input elements and button elements), no additional accessibility information is required. The value attribute for input buttons and the nested text for button elements will be read by screen readers when the button is accessed. These must never be left empty.</p>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">
            <input class="button" type="submit" value="submit button">
        </div>

        <pre class="docs-example__code" aria-hidden="true">
            <code class="language-markup convert">
                <input class="button" type="submit" value="submit button">
            </code>
        </pre>
    </div>
</div>