{# Media object #}
{# @TODO: Изображеия в примерах кода не должны оборачиваться в image-alt. #}

<div id="media" class="docs-component">
    <div class="docs-component__header" >
        Media object
    </div>

    <div class="media">
        <div class="media__left">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97240&w=200&h=240" alt="image alt text" width="200" height="240">
            <p class="media__text">image title</p>
        </div>
        <div class="media__body">
            <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae delectus distinctio dolores eligendi exercitationem minima natus officiis quia quos rem, repudiandae sapiente unde voluptas! Aliquam obcaecati reprehenderit tenetur?</p>
        </div>
    </div>

    <pre>
        <code class="language-markup convert">
            <div class="media">
                <div class="media__left">
                    <img src="" alt="Изображение">
                    <p class="media__text">
                        ...
                    </p>
                </div>
                <div class="media__body">
                    <p class="media__text">
                        ...
                    </p>
                </div>
            </div>
        </code>
    </pre>
</div>