{# Media object #}

<div id="media">

    <div class="typography">
        <h2>Media object</h2>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <div class="media">
                <div class="media__left">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97240&w=200&h=240" alt="image alt text" width="200" height="240">
                    <p class="media__text">image title</p>
                </div>
                <div class="media__body">
                    <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae delectus distinctio dolores eligendi exercitationem minima natus officiis quia quos rem, repudiandae sapiente unde voluptas! Aliquam obcaecati reprehenderit tenetur?</p>
                </div>
            </div>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup convert">
                <div class="media">
                    <div class="media__left">
                        <img src="" alt="Изображение">
                        <p class="media__text">
                            ...
                        </p>
                    </div>
                    <div class="media__body">
                        <p class="media__text">
                            ...
                        </p>
                    </div>
                </div>
            </code>
        </pre>
    </div>
</div>