{# Nav #}
{# @TODO: Перевести описание на английский. #}

<div id="horizontalNav" class="docs-component">
    <div class="docs-component__header">
        Nav
    </div>

    <div class="docs-component__description">
        <p>Навигация выполняется с помощью тега nav, также указывается aria-label с описанием.</p>
        <p>Желательное делать навигацию в виде списка. Из текста ссылок должно быть ясно куда они ведут.</p>
    </div>

    <nav class="nav" role="navigation" aria-label="horizontal navigation">
        <ul>
            <li>
                <a href="#" title="company information">
                    Item 1
                </a>
            </li>
            <li>
                <a href="#" title="contacts information">
                    Item 2
                </a>
            </li>
            <li>
                <a href="#" title="documents example">
                    Item 3
                </a>
            </li>
        </ul>
    </nav>

    <pre>
        <code class="language-markup">
            &lt;nav class="nav" role="navigation" aria-label="horizontal navigation"&gt;
                &lt;ul&gt;
                    &lt;li&gt;
                        &lt;a href="#" title="company information"&gt;
                            Item 1
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="#" title="contacts information"&gt;
                            Item 2
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="#" title="documents example"&gt;
                            Item 3
                        &lt;/a&gt;
                    &lt;/li&gt;
                    ...
                &lt;/ul&gt;
            &lt;/nav&gt;
        </code>
    </pre>
</div>