{# Panels #}

<div id="panels" class="docs-component">
    <div class="docs-component__header" >
        Panels
    </div>

    <div class="docs-component__title">
        Default
    </div>

    <div class="panel">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, odit.
        </div>
    </div>

    <pre>
        <code class="language-markup convert">
            <div class="panel">
                <div class="panel-body">
                    ...
                </div>
            </div>
        </code>
    </pre>

    <div class="docs-component__title">
        With heading
    </div>

    <div class="panel">
        <div class="panel-heading">
            Heading
        </div>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sapiente.
        </div>
    </div>

    <pre>
        <code class="language-markup convert">
            <div class="panel">
                <div class="panel-heading">
                    ...
                </div>
                <div class="panel-body">
                    ...
                </div>
            </div>
        </code>
    </pre>

    <div class="docs-component__title">
        With footer
    </div>

    <div class="panel">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, incidunt!
        </div>
        <div class="panel-footer">Footer</div>
    </div>

    <pre>
        <code class="language-markup convert">
           <div class="panel">
                <div class="panel-body">
                    ...
                </div>
                <div class="panel-footer">
                    ...
                </div>
            </div>
        </code>
    </pre>
</div>