{# Progress bar #}

<div id="progressBar">

    <div class="typography">
        <h2>Progress bar</h2>
        <p>A progressbar indicates that the user's request has been received and the application is making progress toward completing the requested action</p>
        <p>It should have role="progressbar" and aria attributes such as aria-valuenoe, aria-valuemin, aria-valuemax, tabindex - to focus on element </p>
        {#<p>Линия прогресса указывает, что пользователь совершил действие и приложение обрабатывает его запрос. Чтобы человек с ограниченными возможностями мог получить информацию о ходе операции используются специальные атрибуты.</p>#}
        {#<p>role="progressbar" указывает скрин-ридеру, что это индикатор прогресса. aria-valuenow - текущее значение, aria-valuemin - минимальное, aria-valuemax - максимальное, tabindex - для того, чтобы можно было сфокусироваться на элементе.</p>#}
</div>

    <div class="docs-example">
        <div class="docs-example__view">

            <div class="progress">
                <div class="progress__value"
                     style="width: 35%"
                     role="progressbar"
                     data-value="35"
                     aria-valuenow="35"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     tabindex="0">
                    <div class="progress__counter">35%</div>
                </div>
            </div>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup">
                &ltdiv class="progress"&gt
                    &ltdiv class="progress__val"
                         style="width: 45%"
                         role="progressbar"
                         aria-valuenow="45"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         tabindex="0"&gt
                        &ltdiv class="progress__counter"&gt45%&lt/div&gt
                    &lt/div&gt
                &lt/div&gt
            </code>
        </pre>
    </div>
</div>