{# Thumbnail #}
{# @TODO: Изображение в примере кода не должно оборачиваться в image-alt. #}

<div id="thumbnail" class="docs-component">
    <div class="docs-component__header">
        Thumbnail
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="thumbnail">
                <img alt="img" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=320%C3%97320&w=320&h=320"
                     width="320" height="320">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <button class="button">
                        <a href="#">Button</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <pre>
        <code class="language-markup convert">
            <div class="thumbnail">
                <img alt="image alt text" src="..." width="..." height="...">
                <div class="caption">
                    ...
                </div>
            </div>
        </code>
    </pre>

    <div class="docs-component__title">
        Thumbnail link
    </div>

    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img alt="img" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97200&w=250&h=200"
                     width="250" height="200">
            </a>
        </div>
    </div>

    <pre>
        <code class="language-markup convert">
            <a href="#" class="thumbnail">
                <img alt="image alt text" src="..." width="..." height="...">
            </a>
        </code>
    </pre>
</div>