{# Thumbnail #}

<div id="thumbnail">

    <div class="typography">
        <h2>Thumbnail</h2>
    </div>

    <div class="docs-example">
        <div class="docs-example__view">

            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img class="thumbnail__image"
                             alt="image alt text"
                             src="https://placeholdit.imgix.net/~text?txtsize=33&txt=320%C3%97320&w=320&h=320"
                             width="320"
                             height="320">
                        <div class="thumbnail__caption">
                            <b>Thumbnail label</b>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <button class="button">
                                <a href="#">Button</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class="thumbnail__image"
                             alt="image alt text"
                             src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97200&w=250&h=200"
                             width="250" height="200">
                    </a>
                </div>
            </div>

        </div>
        <pre class="docs-example__code">
            <code class="language-markup convert">
                <div class="thumbnail">
                    <img alt="image alt text" src="..." width="..." height="...">
                    <div class="caption">
                        ...
                    </div>
                </div>
            </code>
        </pre>
        <pre class="docs-example__code">
            <code class="language-markup convert">
                <a href="#" class="thumbnail">
                    <img alt="image alt text" src="..." width="..." height="...">
                </a>
            </code>
        </pre>
    </div>
</div>