// ==========================================================================
// nav
// ==========================================================================

@import "../../config";

.nav {

    @include clearfix();


    li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
        padding: 5px 10px;

        font-weight: bold;
        text-decoration: none !important;

        border: 1px solid $main-color;
        border-radius: 4px;
        outline: none !important;
    }

    li.active > a {
        background: #ffa;
        color: #BF1722;
    }


}

// ==========================================================================
// Theme black
// ==========================================================================

.application[data-color="black"] {
    $main-color: invert($main-color);
    $second-color: invert($second-color);
    .nav {
        li.active > a {
            background: #d8edff;
            color: #BF1722;
        }
        a {
            border: 1px solid $main-color;
        }

    }

}