// @TODO: Зачем нам этот компонент?

.form {
    $bg-color: white;
    $text-color: black;
    &__line {
        margin-bottom: 15px;

        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
            color: $text-color;
            top: -.5em;
        }
    }

    &__error {
        font-style: italic;
    }
}

.application[data-color="black"] {

    .form {
        $bg-color: black;
        $text-color: white;
        &__line {
            sup {
                color: $text-color;
                top: -.5em;
            }
        }
    }

}