// ==========================================================================
// Form
// @TODO: Зачем нужен этот компонент?
// ==========================================================================

.form {

    &__line {
        margin-bottom: 15px;

        sup {
            position: relative;

            top: -.5em;

            color: #000;
            font-size: 75%;
            line-height: 0;

            vertical-align: baseline;
        }
    }

    &__error {
        font-style: italic;
    }

    // Theme black

    body[data-color="black"] & {

        &__line {
            sup {
                color: #fff;
                top: -.5em;
            }
        }

    }
}