// ==========================================================================
// Nav
// ==========================================================================

@import "../../config";

.nav {
    @include clearfix();

    &__item {
        float: left;
        margin: 0 10px 10px 0;

        border-radius: 4px;

        .nav_vertical & {
            display: block;
            float: none;
            margin: 0 0 10px 0;
        }
    }

    &__link {
        display: inline-block;
        padding: 5px 10px;

        font-weight: bold;

        text-decoration: none;
        border: 1px solid #000;
        border-radius: 4px;

        &[href] {
            text-decoration: none;
        }

        &:focus, &:hover {
            outline: none;
            box-shadow: 0 0 0 3px #ffa;
            &[href] {
                text-decoration: none;
                outline: none;
            }
        }
    }


    &__item_active > .nav__link {
        background: #ffa;
        color: #bf1722;
        &[href] {
            color: #bf1722;
        }
    }

    // Theme black

    html[data-color="black"] & {

        &__item_active > .nav__link {
            background: #d8edff;
            color: #BF1722;
            &[href] {
                color: #bf1722;
            }
        }

        &__link {
            border: 1px solid #fff;

            &:focus, &:hover {
                box-shadow: 0 0 0 3px #ffa;
            }
        }
    }
}