
/*WCAG-PANEL*/
.wcag-panel {
    position: relative;

    font-size: 18px;
    font-family: 'Arial', 'sans-serif';
    line-height: 24px;

    border-bottom: 1px solid rgba(107, 107, 107, 0.5);
    background-color: #e8e8e8;

    box-sizing: border-box;
    z-index: 999;
    letter-spacing: normal;
    color: #000;

    [aria-hidden="true"] {
        display: none !important;
    }

    * {
        box-sizing: border-box;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 980px;
        padding: 17px 0;
    }

    /* Строки с отступом между собой, на случай, если их будет несколько */
    &__row {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    /* Скрытый блок с ссылкой, которая отображается только если сфокусировать элемент с клавиатуры */
    &__hidden-control {
        position: absolute;
        right: 100%;
        width: 150px;
        top: 50%;
        transform: translateY(-50%);

        a:not(:focus) {
            opacity: 0;
        }
    }

    /* Колонки с управляющими элементами */
    &__col {
        display: inline-block;
        vertical-align: bottom;
        padding: 0 11px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &_cont-link {
            vertical-align: bottom;
            padding-bottom: 8px;
        }
    }

    /* Колонка с настройками */
    &__settings {
        float: right;
        margin-top: 27px;
    }

    /* Элемент-контейнер переключаетелей */
    &__switcher {
        font-size: 0;
        overflow: hidden;
        border: 1px solid black !important;
        border-radius: 3px;
    }

    &__switcher-label {
        vertical-align: baseline;
        margin-bottom: 3px;
        display: inline-block;
    }

    &__switcher-btn {
        padding: 0 10px;
        height: 38px;
        font-weight: normal;
        margin-bottom: 0;

        background-color: #fff;
        cursor: pointer;

        font-size: 18px;
        line-height: 38px;
        border: 0;
        display: inline-block;
        position: relative;

        &:not(:last-child) {
            border-right: 1px solid black;
        }

        &:focus {
            background: #000 !important;
            color: #fff !important;
            box-shadow: inset 0 0 0 2px #ffa;
        }
    }

    /* Кнопка переключения выпадающего меню */
    &__dropdown-toggle {
        position: relative;
        padding: 0 27px 0 10px;
        height: 36px;
        line-height: 36px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -2px;

            width: 0;
            height: 0;

            border-left: 6px solid transparent;
            border-top: 5px solid black;
            border-right: 6px solid transparent;
        }

        &:focus:after {
            border-top-color: white;
        }

        &[aria-expanded="true"] {
            background: black;
            color: white;
        }

        &[aria-expanded="true"]:after {
            border-top: 0;
            border-bottom: 5px solid white;
        }
    }

    &__dropdown {
        margin: 0;

        padding: 10px 0;
        box-sizing: border-box;
        width: 100%;

        font-size: 18px;
        text-align: left;
        list-style: none;

        background-color: #f3f3f3;
        background-clip: padding-box;
        border: 1px solid #ccc !important;
        outline: none !important;

        z-index: 1000;
    }

    &__flag-button {
        font-size: 18px;
        line-height: 38px;
        text-align: center;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 7px;
        }
    }

    /* Ссылки в шапке сайта. Для них используем !important, чтобы стили сайта не влияли на отображение */
    &__default-link {
        font-size: 18px;
        line-height: 20px;
        color: black !important; //Чтобы стили сайта не переопределяли этот
        text-decoration: none !important;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-width: 1px;
        border-color: #0000FF !important;

        &:focus {
            background: transparent !important;
            outline-color: #0000ff !important;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        /* "Скрываем" их таким образом, а не {display: none} чтобы focus с клавиатуры работал */
        position: absolute;
        left: -99999px;

        &:checked + .wcag-panel__switcher-btn {
            color: white;
            background-color: black;
        }

        &:focus + .wcag-panel__switcher-btn {
            color: white;
            background: black;
            box-shadow: inset 0 0 0 2px #ffa;
            outline: 0;
        }
    }
}


/*FLAG-BUTTON*/

.flag-button {
    position: relative;
    width: 31px;
    height: 38px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000 !important;

    input:focus + & {
        box-shadow: inset 0 0 0 2px #ffa;
        background: black;
        color: white;
    }

    /* Красные точки на выбранных кнопках */
    &:before,
    &:after {
        display: none;
        content: '';
        position: absolute;
        top: -3px;
        left: 11px;

        width: 8px;
        height: 8px;

        background: #fe0d0d;
        border-radius: 50%;

        input:checked + & {
            display: block;
        }
    }

    &:after {
        bottom: -3px;
        top: auto;
    }

    &_white {
        background: #fff;
    }

    &_black {
        color: #fff;
        background: #000;
    }

    &_blue {
        background: #0000ff;
        color: #ffff00;
    }

    &_beige {
        background: #f7f3d6;
        color: #4d4b43;
    }

    &_brown {
        background: #3b2716;
        color: #a9e44d;
    }
}