

.main {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;

    .content-block {
        margin-bottom: 30px;
    }

    &__pagination {
        padding-top: 20px;
        margin-top: 30px;

        border-top: 1px solid #000;
    }

    .content-header {
        margin-bottom: 30px;
    }
}