.page-content {
  padding-top: 40px;
  padding-bottom: 40px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.page-content__sidebar {
  display: table-cell;
  width: 230px;
  padding-right: 40px;
}

.page-content__content {
  display: table-cell;
}
