// ==========================================================================
// Button
// ==========================================================================

.button {
    min-height: 50px;
    padding: 0 15px;

    color: #fff;
    font-weight: bold;
    line-height: 40px;

    background: #000;
    border: none;

    text-align: center;


    a {
        color: #fff !important;
        background: #000 !important;

        text-decoration: none !important;
        outline: none !important;
    }

    &:focus,&:hover {
        outline: 3px solid #0000cc;
    }
}

.button-block {
    display: block;
    padding:0;

}

// ==========================================================================
// Theme black
// ==========================================================================

.application[data-color="black"] {

    .button {
        color: #000;
        background: #fff;

        a {
            color: #000 !important;
            background: #fff !important;
            &:focus,&:hover {
                text-decoration: none;
            }
        }

        &:focus,&:hover {
            outline: 3px solid #BF1722;
        }
    }

}