<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Web Accessibility{% endblock %}</title>

    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="accessibility.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.min.css">
</head>
<body>

    {% import './_helpers/macros.twig' as macros %}

    {% include '../partials/wcag-panel.twig' %}

    <header class="header" data-wcag="alternative-background">
        <div class="content-wrapper">
            <h1 class="h1">
                {% block main_title %}{% endblock %}
            </h1>

            {% include 'main/menu.twig' with {activeLink: block('menu_link')} %}
        </div>
    </header>


    <div class="content-wrapper page-content">
        {% block content %}

        {% endblock %}
    </div>

    {% include './_helpers/scripts.twig' %}

</body>
</html>