<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/accessibility.css">
</head>
<body>

    {% include '../partials/wcag-panel.twig' %}

    {% include 'main/menu.twig' %}

    <div class="content-wrapper page-content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>