<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/accessibility.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.min.css">
</head>
<body>

    {% include '../partials/wcag-panel.twig' %}

    {% include 'main/menu.twig' %}

    <div class="content-wrapper page-content">
        {% block content %}

        {% endblock %}
    </div>

    <script>
        var escape = {
            '<': '&lt',
            '>': '&gt'
        }

        var converts = document.querySelectorAll('.convert');
        converts.forEach(function (convert) {
            var html = convert.innerHTML;
            html = html.replace(/  /g, '');
            html = html.replace(/</g, '&lt');
            html = html.replace(/>/g, '&gt');
            convert.innerHTML = html;
            console.log(html);
        });
    </script>

    <script src="/site-components/prism/prism.source.js"></script>


</body>
</html>