<nav class="nav">
    <ul>
        <li><a href="#">Главная</a></li>
        <li class="active">
            <a href="#">Общие сведения</a>
        </li>
        <li>
            <a href="#">История</a>
        </li>
        <li>
            <a href="#">Административно-территориальное деление</a>
        </li>
        <li>
            <a href="#">Устав</a>
        </li>
        <li>
            <a href="#">Генеральный план, правила землепользования и застройки</a>
        </li>
        <li>
            <a href="#">Полезные сайты</a>
        </li>
        <li>
            <a href="#">интернет ресурсы</a>
        </li>
    </ul>
</nav>