<nav class="nav">
    <ul>
        <li>
            <a href="#">Общие сведения</a>
        </li>
        <li>
            <a href="#">Органы власти</a>
        </li>
        <li>
            <a href="#">Социальная сфера</a>
        </li>
        <li>
            <a href="#">Муниципальные услуги</a>
        </li>
        <li>
            <a href="#">Муниципальный контроль</a>
        </li>
        <li>
            <a href="#">Целевые программы</a>
        </li>
        <li>
            <a href="#">Муниципальное управление</a>
        </li>
        <li>
            <a href="#">Сведения об использовании бюджетных средств</a>
        </li>
        <li>
            <a href="#">Нормативно правовые акты</a>
        </li>
        <li>
            <a href="#">Публичные слушания</a>
        </li>
        <li>
            <a href="#">Кадровое обеспечение</a>
        </li>
        <li>
            <a href="#">Противодействие коррупции</a>
        </li>
        <li>
            <a href="#">ГО и ЧС</a>
        </li>
        <li>
            <a href="#">Муниципальный заказ</a>
        </li>
        <li>
            <a href="#">Торги, аукционы, конкурсы</a>
        </li>
        <li>
            <a href="#">Благоустройство</a>
        </li>
        <li>
            <a href="#">Фотогалерея поселения</a>
        </li>
        <li>
            <a href="#">70 ЛЕТ ПОБЕДЫ</a>
        </li>
        <li>
            <a href="#">Наши поэты</a>
        </li>
    </ul>
</nav>