<form class="row" action="" role="search">
    <div class="col-xs-10">
        <label for="search" class="hidden">Поиск по сайту</label>
        <input class="input" id="search" type="text">
    </div>
    <div class="col-xs-2">
        <button class="button button_block" type="submit" value="Отправка формы">
            Найти
        </button>
    </div>
</form>