{% include "./partials/header.twig" %}



{% include "./partials/search-form.twig" %}

</header>

<main class="main" role="main">

    <!-- gallery -->
    <div class="gallery">
        <div class="gallery__item">
            <div class="h2">
                <a href="#">Галлерея 1</a>
            </div>
            <div class="row">
                <a class="col-xs-4 fancybox" rel="group" href="gallery-inner.html">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97175&w=300&h=175"
                         alt="Картинка">
                </a>
                <a class="col-xs-4 fancybox" rel="group" href="gallery-inner.html">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97175&w=300&h=175"
                         alt="Картинка">
                </a>
                <a class="col-xs-4 fancybox" rel="group" href="gallery-inner.html">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97175&w=300&h=175"
                         alt="Картинка">
                </a>
            </div>
        </div>
        <div class="gallery__item">
            <div class="h2">
                <a href="#">Галлерея 2</a>
            </div>
            <div class="row">
                <a class="col-xs-4 fancybox" rel="group" href="gallery-inner.html">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97175&w=300&h=175"
                         alt="Картинка">
                </a>
                <a class="col-xs-4 fancybox" rel="group" href="gallery-inner.html">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97175&w=300&h=175"
                         alt="Картинка">
                </a>
                <a class="col-xs-4 fancybox" rel="group" href="gallery-inner.html">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97175&w=300&h=175"
                         alt="Картинка">
                </a>
            </div>
        </div>

    </div>
    <!-- end gallery -->
</main>

{% include "partials/footer.twig" %}

<script src="assets/libs/fancybox/jquery.fancybox.js"></script>
<script>
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script>

</body>
</html>