{% include './partials/header.twig' %}
<nav class="nav" aria-label="горизонтальная навигация">
    <ul>
        <li class="nav__item nav__item_active">
            <a class="nav__link" href="index.html" title="Главная страница сайта">
                Главная
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="faq.html" title="На этой страницу вы найдете ответы на частозадаваемые вопросы">
                Обратная связь
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="gallery.html">
                Галлерея
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="search.html">
                Поиск
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="quize.html">
                Опрос
            </a>
        </li>
    </ul>
</nav>
{% include "./partials/search-form.twig" %}
</header>

<main class="main" role="main">



    <div class="greeting media">
        <div class="media__left">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97240&w=200&h=240" alt="Глава"
                 style="width: 200px; height: 240px;">
            <p class="media__text">Петр Павлович</p>
            <p class="media__text">Глава района</p>
        </div>
        <div class="media__body">
            <p class="media__text">Томская область расположена в&nbsp;юго-восточной части Западной Сибири. Граничит с&nbsp;Тюменской, Новосибирской, Омской, Кемеровской областями, Ханты-Мансийским автономным округом и&nbsp;Красноярским краем. Площадь: 314,4 тыс. кв.&nbsp;километров. Входит в&nbsp;состав Сибирского федерального округа.</p>

            <p class="media__text">Население: 1&nbsp;047 394&nbsp;человека (по данным переписи 2010 года). 70,2% проживает в&nbsp;городах, 29,8% – в&nbsp;сельской местности. Средняя продолжительность жизни – 68,1 лет. Средний возраст – 37,3 года (на 1,7 года меньше, чем&nbsp;в&nbsp;среднем по&nbsp;России)</p>

            <p class="media__text">В области проживает 120&nbsp;национальностей и&nbsp;народностей, в&nbsp;том числе представители 22&nbsp;народностей Севера. Русские составляют 90,8% от&nbsp;общего числа жителей, татары – 1,9% и&nbsp;украинцы – 1,6%.</p>

            <p class="media__text">Административный центр:&nbsp;город Томск, численность населения – более 500&nbsp;тыс. человек.&nbsp;Административно-территориальное деление: 4&nbsp;городских округа, 16&nbsp;муниципальных районов, включающих 3&nbsp;городских и&nbsp;117 сельских поселений, 576&nbsp;сельских населенных пунктов. Города: Томск, ЗАТО Северск, Стрежевой, Колпашево, Асино, Кедровый. Крупные реки: Обь, Чулым, Кеть, Тым, Васюган.</p>

            <p class="media__text">Климат умеренно-континентальный. Средняя температура июля +18˚С, января –19,2˚С.&nbsp;&nbsp;Часовой пояс: Москва +3 часа, GMT&nbsp;+6 часов. Телефонный код: +7 382&nbsp;2. Расстояние до&nbsp;Москвы: 3500 километров (4 часа самолетом; 2,5 суток поездом).</p>

            <p class="media__text">Герб Томской области был&nbsp;утвержден в&nbsp;июле 1878 года. На&nbsp;нем изображен серебряный конь на&nbsp;зеленом щите, увенчанном императорской короной и&nbsp;обвитом дубовыми листьями, соединенными лентой.</p>
        </div>
    </div>

    <div class="content-block">
        <h2 class="panel-heading content-header h2">Новости</h2>
        <div class="media">
            <div class="media__left">
                <a href="#">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=400%C3%97400&w=200&h=200"
                         width="200" height="200" alt="Картинка">
                </a>
            </div>
            <div class="media__body">
                <h3 class="media__title">
                    <a href="#">15 сентября 2015 года вводится в действие Кодекс административного
                        судопроизводства Российской Федерации
                    </a>
                </h3>
                <p class="media__text">
                    <small>15 марта 2016</small>
                </p>
                <p class="media__text">Кодекс административного судопроизводства РФ регулирует порядок
                    осуществления административного судопроизводства при рассмотрении и разрешении Верховным
                    Судом РФ, судами общей юрисдикции административных дел о защите нарушенных или оспариваемых
                    прав</p>
                <a href="content.html">читать полностью</a>
            </div>
        </div>

        <div class="media">
            <div class="media__left">
                <a href="#">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=400%C3%97400&w=200&h=200"
                         width="200" height="200" alt="Картинка">
                </a>
            </div>
            <div class="media__body">
                <h3 class="media__title">
                    <a href="#">У жителей региона есть возможность сформировать список дорог для ремонта в 2017 году
                    </a>
                </h3>
                <p class="media__text">
                    <small>07 октября, 16:15</small>
                </p>
                <a href="content.html">читать полностью</a>
            </div>
        </div>

        <a href="#">Показать все новости</a>
    </div>


</main>

{% include "partials/footer.twig" %}

</body>
</html>