{% include "./partials/header.twig" %}

<body class="container init">
{% include "./partials/control-panel.twig" %}

<header class="header" role="banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                31 марта 2016
            </div>
            <a class="header__site-version pull-right" href="#">
                Обычная версия сайта
            </a>
        </div>
    </div>
    <div class="h1">
        Современное сельское поселение
    </div>
    <div class="h3">
        официальный сайт муниципального образования
    </div>

    <nav class="nav" aria-label="горизонтальная навигация">
        <ul>
            <li class="nav__item nav__item_active">
                <a class="nav__link" href="index.html" title="Главная страница сайта">
                    Главная
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="faq.html" title="На этой страницу вы найдете ответы на частозадаваемые вопросы">
                    Вопрос-ответ
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="content.html">
                    Контент
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="gallery.html">
                    Галлерея
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="gallery-inner.html">
                    Галлерея-внутри
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="quize.html">
                    Опрос
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="search.html">
                    Поиск
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="npa.html">
                    Список
                </a>
            </li>
        </ul>
    </nav>

    {% include "./partials/search-form.twig" %}

</header>

<main class="main" role="main">
    <div class="greeting media">
        <div class="media__left">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97240&w=200&h=240" alt="Глава"
                 style="width: 200px; height: 240px;">
            <p class="media__text">Петр Павлович</p>
            <p class="media__text">Глава района</p>
        </div>
        <div class="media__body">
            <p class="media__text">Открытость и доступность информации — одно из важных условий развития успешного
                общества. Мы
                делаем всё, чтобы работа администрации поселения была понятной и открытой. Надеемся, что
                посещение нашего сайта станет для Вас полезным, мы сможем обменяться мнениями по наиболее важным
                вопросам и вести конструктивный диалог.</p>
            <p class="media__text">Открытость и доступность информации — одно из важных условий развития успешного
                общества. Мы
                делаем всё, чтобы работа администрации поселения была понятной и открытой. Надеемся, что
                посещение нашего сайта станет для Вас полезным, мы сможем обменяться мнениями по наиболее важным
                вопросам и вести конструктивный диалог.</p>
            <p class="media__text">Открытость и доступность информации — одно из важных условий развития успешного
                общества. Мы
                делаем всё, чтобы работа администрации поселения была понятной и открытой. Надеемся, что
                посещение нашего сайта станет для Вас полезным, мы сможем обменяться мнениями по наиболее важным
                вопросам и вести конструктивный диалог.</p>
        </div>
    </div>

    <div class="content-block">
        <h2 class="panel-heading content-header h2">Новости</h2>
        <div class="media">
            <div class="media__left">
                <a href="#">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=400%C3%97400&w=200&h=200"
                         width="200" height="200" alt="Картинка">
                </a>
            </div>
            <div class="media__body">
                <h3 class="media__title">
                    <a href="#">15 сентября 2015 года вводится в действие Кодекс административного
                        судопроизводства Российской Федерации
                    </a>
                </h3>
                <p>
                    <small>15 марта 2016</small>
                </p>
                <p class="media__text">Кодекс административного судопроизводства РФ регулирует порядок
                    осуществления административного судопроизводства при рассмотрении и разрешении Верховным
                    Судом РФ, судами общей юрисдикции административных дел о защите нарушенных или оспариваемых
                    прав</p>
                <a href="#">Читать полностью</a>
            </div>
        </div>
        <div class="media">
            <div class="media__left">
                <a href="#">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=400%C3%97400&w=200&h=200"
                         width="200" height="200" alt="Картинка">
                </a>
            </div>
            <div class="media__body">
                <h3 class="media__title">
                    <a href="#">15 сентября 2015 года вводится в действие Кодекс административного
                        судопроизводства Российской Федерации
                    </a>
                </h3>
                <p>
                    <small>15 марта 2016</small>
                </p>
                <p class="media__text">Кодекс административного судопроизводства РФ регулирует порядок
                    осуществления административного судопроизводства при рассмотрении и разрешении Верховным
                    Судом РФ, судами общей юрисдикции административных дел о защите нарушенных или оспариваемых
                    прав</p>
                <a href="#">Читать полностью</a>
            </div>
        </div>

        <a href="#">Показать все новости</a>
    </div>
    <div class="content-block">
        <h2 class="panel-heading content-header h2">Новости</h2>
        <div class="media">
            <div class="media__left">
                <a href="#">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=400%C3%97400&w=200&h=200"
                         width="200" height="200" alt="Картинка">
                </a>
            </div>
            <div class="media__body">
                <h3 class="media__title">
                    <a href="#">15 сентября 2015 года вводится в действие Кодекс административного
                        судопроизводства Российской Федерации
                    </a>
                </h3>
                <p>
                    <small>15 марта 2016</small>
                </p>
                <p class="media__text">Кодекс административного судопроизводства РФ регулирует порядок
                    осуществления административного судопроизводства при рассмотрении и разрешении Верховным
                    Судом РФ, судами общей юрисдикции административных дел о защите нарушенных или оспариваемых
                    прав</p>
                <a href="#">Читать полностью</a>
            </div>
        </div>
        <div class="media">
            <div class="media__left">
                <a href="#">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=400%C3%97400&w=200&h=200"
                         width="200" height="200" alt="Картинка">
                </a>
            </div>
            <div class="media__body">
                <h3 class="media__title">
                    <a href="#">15 сентября 2015 года вводится в действие Кодекс административного
                        судопроизводства Российской Федерации
                    </a>
                </h3>
                <p>
                    <small>15 марта 2016</small>
                </p>
                <p class="media__text">Кодекс административного судопроизводства РФ регулирует порядок
                    осуществления административного судопроизводства при рассмотрении и разрешении Верховным
                    Судом РФ, судами общей юрисдикции административных дел о защите нарушенных или оспариваемых
                    прав</p>
                <a href="#">Читать полностью</a>
            </div>
        </div>

        <a href="#">Показать все новости</a>
    </div>


</main>

{% include "partials/footer.twig" %}

</body>
</html>