{% include "./partials/header.twig" %}

<body class="container init">

{% include "./partials/control-panel.twig" %}

<header class="header" role="banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                31 марта 2016
            </div>
            <a class="header__site-version pull-right" href="#">
                Обычная версия сайта
            </a>
        </div>
    </div>

    <div class="h1">
        Доступный Сайт
    </div>

    <div class="h3">
        Шаблон доступного сайта
    </div>

    <nav class="nav" aria-label="горизонтальная навигация">
        <ul>
            <li class="nav__item">
                <a class="nav__link" href="index.html" title="Главная страница сайта">
                    Главная
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="faq.html" title="На этой страницу вы найдете ответы на частозадаваемые вопросы">
                    Вопрос-ответ
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="content.html">
                    Контент
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="gallery.html">
                    Галлерея
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="gallery-inner.html">
                    Галлерея-внутри
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="quize.html">
                    Опрос
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="search.html">
                    Поиск
                </a>
            </li>
            <li class="nav__item nav__item_active">
                <a class="nav__link" href="npa.html">
                    Список
                </a>
            </li>
        </ul>
    </nav>

    {% include "./partials/search-form.twig" %}

</header>

<main class="main" role="main">


    <!-- breadcrumbs -->
    <nav class="breadcrumbs" aria-label="хлебные крошки">
        <ul>
            <li class="breadcrumbs__item">
                <a href="/">Главная</a>
            </li>
            <span class="breadcrumbs__separator" aria-hidden="true"></span>
            <li class="breadcrumbs__item">
                <a href="#" title="Официальная документация">Нормативно-правовые акты</a>
            </li>
            <span class="breadcrumbs__separator" aria-hidden="true"></span>
            <li class="breadcrumbs__item">
                <a href="#" title="От 2014 года">Решения Совета</a>
            </li>
            <span class="breadcrumbs__separator" aria-hidden="true"></span>
            <li class="breadcrumbs__item">
                <span>Решения 2015</span>
            </li>
            <span class="breadcrumbs__separator" aria-hidden="true"></span>
        </ul>
    </nav>
    <!-- end breadcrumbs -->


    <h2 class="panel-heading content-header h2">Решения 2015</h2>

    <div class="media">
        <div class="media__title">Номер: 106 (действует)</div>
        <div class="media__text">
            <small>10 ноября 2015</small>
        </div>
        <div class="media__text">
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque doloribus
                laboriosam nobis odit quo reiciendis rerum? Amet dignissimos eum optio pariatur quam quis, recusandae
                repellat ut veniam veritatis voluptatibus.
            </a>
        </div>
    </div>
    <div class="media">
        <div class="media__title">Страница: 5</div>
        <div class="media__text">
            <small>10 ноября 2015</small>
        </div>
        <div class="media__text">
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque doloribus
                laboriosam nobis odit quo reiciendis rerum? Amet dignissimos eum optio pariatur quam quis, recusandae
                repellat ut veniam veritatis voluptatibus.
            </a>
        </div>
    </div>
    <div class="media">
        <div class="media__title">Номер: 106 (действует)</div>
        <div class="media__text">
            <small>10 ноября 2015</small>
        </div>
        <div class="media__text">
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque doloribus
                laboriosam nobis odit quo reiciendis rerum? Amet dignissimos eum optio pariatur quam quis, recusandae
                repellat ut veniam veritatis voluptatibus.
            </a>
        </div>
    </div>
    <div class="media">
        <div class="media__title">Номер: 106 (действует)</div>
        <div class="media__text">
            <small>10 ноября 2015</small>
        </div>
        <div class="media__text">
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque doloribus
                laboriosam nobis odit quo reiciendis rerum? Amet dignissimos eum optio pariatur quam quis, recusandae
                repellat ut veniam veritatis voluptatibus.
            </a>
        </div>
    </div>
    <div class="media">
        <div class="media__title">Номер: 106 (действует)</div>
        <div class="media__text">
            <small>10 ноября 2015</small>
        </div>
        <div class="media__text">
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque doloribus
                laboriosam nobis odit quo reiciendis rerum? Amet dignissimos eum optio pariatur quam quis, recusandae
                repellat ut veniam veritatis voluptatibus.
            </a>
        </div>
    </div>


    <!-- paging -->
    <ul class="main__pagination pagination">
        <li class="pagination__item pagination__item_active" rel="prev">
            <a class="pagination__link" href="#">Назад</a>
        </li>
        <li class="pagination__item pagination__item">
            <a class="pagination__link" href="#" title="Первая страница">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#" title="вторая страница">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#" title="третья страница">3</a>
        </li>

        <li class="pagination__item" rel="next">
            <a class="pagination__link" href="#">Вперед</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">Последняя страница</a>
        </li>
    </ul>
    <!-- end paging -->

</main>

{% include "partials/footer.twig" %}

</body>
</html>