
{% include "./partials/header.twig" %}
<link rel="stylesheet" href="assets/libs/fancybox/jquery.fancybox.css">

{% include "./partials/search-form.twig" %}
</header>
<main class="main" role="main">
    <!-- results -->
    <div class="results">

        <div class="panel-heading content-header">
            <div class="h3">Новости</div>
            <div>Найдено 5 материалов:</div>
        </div>

        <div class="media">
            <div class="media__left">1.</div>
            <div class="media__body">
                <a class="media__text" href="#">В отрасли культуры состоялось заседание комиссии</a>
                <p class="media__text">29 августа на площади Староювалинского дома культуры состоялся
                    <strong>конкурс</strong>
                </p>
            </div>
        </div>

        <div class="panel-heading content-header">
            <div class="h3">Статьи</div>
            <div>Найдено 2 материала:</div>
        </div>

        <div class="media">
            <div class="media__left">1.</div>
            <div class="media__body">
                <a class="media__text" href="#">В отрасли культуры состоялось заседание комиссии</a>
                <p class="media__text">29 августа на площади Староювалинского дома культуры состоялся
                    <strong>конкурс</strong>
                </p>
            </div>
        </div>

        <div class="media">
            <div class="media__left">1.</div>
            <div class="media__body">
                <a class="media__text" href="#">В отрасли культуры состоялось заседание комиссии</a>
                <p class="media__text">29 августа на площади Староювалинского дома культуры состоялся
                    <strong>конкурс</strong>
                </p>
            </div>
        </div>


    </div>
    <!-- end results -->

    <!-- paging -->
    <ul class="pagination">
        <li class="pagination__item pagination__item_active" rel="prev">
            <a class="pagination__link" href="#">Назад</a>
        </li>
        <li class="pagination__item pagination__item">
            <a class="pagination__link" href="#" title="Первая страница">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#" title="вторая страница">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#" title="третья страница">3</a>
        </li>

        <li class="pagination__item" rel="next">
            <a class="pagination__link" href="#">Вперед</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">Последняя страница</a>
        </li>
    </ul>
    <!-- end paging -->

</main>

{% include "partials/footer.twig" %}

</body>
</html>