.components {

    &__header {
        font-size: 32px;
        margin: 30px 0;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }

    &__row {
        margin-bottom: 20px;
    }

    body[data-color="black"] & {

        &__header {
            border-bottom: 1px solid white;
        }

    }
}