.faq {
    margin-bottom: 36px;

    &__form {
        padding-bottom: 20px;
        margin-bottom: 30px;

        border-bottom: 1px solid  #000;
    }

    &__item {
        margin-bottom: 20px;
        padding-bottom: 15px;

        border-bottom: 1px solid  #000;
    }

    &__answer {
        margin: 8px 0 0 30px;
    }

    // Theme black

    html[data-color="black"] & {

        &__form {
            border-bottom: 1px solid  #fff;
        }

        &__item {
            border-bottom: 1px solid  #fff;
        }

    }
}