// ==========================================================================
// footer
// ==========================================================================

.footer {
    padding: 20px 0px;

    border-top: 2px solid #000;

    p {
        margin-bottom: 1em;
    }

    body[data-color="black"] & {
        border-color: #fff;
    }
}