<div class="docs-control-panel control-panel">
    <div class="control-panel__wrapper row">
        <div class="col-xs-4">
            <label for="fontSize">Font size:</label>
            <select id="fontSize" class="control-panel__select-text select">
                <option value="small">
                    Small
                </option>
                <option value="normal">
                    Medium
                </option>
                <option value="large">
                    Large
                </option>
            </select>
        </div>
        <div class="col-xs-4">
            <label for="siteColor">Color scheme:</label>
            <select id="siteColor" class="control-panel__select-color select">
                <option value="white">
                    White
                </option>
                <option value="black">
                    Black
                </option>
            </select>
        </div>
        <div class="col-xs-4">
            <label for="siteImages">Images:</label>
            <select id="siteImages" class="control-panel__select-image select">
                <option value="visible">
                    Enable
                </option>
                <option value="hidden">
                    Disabled
                </option>
            </select>
        </div>
    </div>
</div>