<!-- @TODO: Сделать нормальный футер. -->
<footer class="site-footer">
    <span class="site-footer-owner">
        <p><a href="https://github.com/15web/web-accessibility">Web-accessibility</a></p>
        <p>Copyright © 2016 <a href="http://www.15web.ru/" target="_blank">Studio 15</a></p>
    </span>
</footer>

{# accessibility library #}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src="../dist/accessibility.js"></script>

{# docs scripts #}
<script src="assets/prism.js"></script>
<script src="assets/docs.js"></script>

</body>
</html>