<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Web-accessibility</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../dist/accessibility.css" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/components.css" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/prism.css" media="screen">
</head>