// ==========================================================================
// application
// ==========================================================================
.application {
    color: #000;
    line-height: 1.25em;
    font-family: Arial, sans-serif;
    font-size:18px;

    width: 1170px !important;

    background: white;

    transition: opacity 0.15s ease-in-out;


    a {
        &[href] {
            color: #0000cc;
            text-decoration: underline;
            &:visited {
                color: #660099;
            }
            &:hover, &:focus, &:active {
                outline: 3px solid #ffa;
                text-decoration: underline;
                background: #ffa;
                color: #BF1722;
            }

        }
        &.disabled {
            color: #333333;
            cursor: not-allowed;
        }
    }


    .hidden {
        position: absolute;
        left: 0;
        top: -500px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.application[data-text="small"] {
    font-size: 14px;
}

.application[data-text="normal"] {
    font-size: 18px;
}

.application[data-text="large"] {
    font-size: 22px;
}

.application[data-color="black"] {
    color: #fff;
    background: #000;

    a {
        &[href] {
            color: #969691;
            &:visited {
                color: #99FF66;
            }
            &:hover, &:focus, &:active {
                outline-color: #d8edff;
                background: #d8edff;
                color: #BF1722;
            }
            &.disabled {
                color: #cbcbcb;
            }
        }
    }
}

