// ==========================================================================
// application
// ==========================================================================
.application {
    color: #000;
    line-height: 1.25em;
    font-family: Arial, sans-serif;
    font-size:18px;

    background: #fff;

    transition: opacity 0.15s ease-in-out;


    a {
        color: black;
        text-decoration: underline;

        &:visited {
            color: #660099;
        }
    }

    h1 {
        margin: 1.75em 0 0.5em;

        font-size: 1.7em;
        line-height: 1.25em;
        font-weight: bold;
    }
    h2 {
        line-height: 1.6em;
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.3em;
        line-height: 1.375em;
    }

    h4 {
        margin-bottom: 1.5em;
        font-size: 1em;
        font-weight: bold;
    }
    h5 {
        font-weight: bold;
        line-height: 1.25em;
    }

    .hidden {
        position: absolute;
        left: 0;
        top: -500px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.application[data-text="small"] {
    font-size: 14px;
}

.application[data-text="normal"] {
    font-size: 18px;
}

.application[data-text="large"] {
    font-size: 22px;
}

.application[data-color="black"] {
    color: #fff;
    background: #000;

    a {
        color: #fff;
    }
}

