// ==========================================================================
// Pagination
// ==========================================================================

@import "../../config";

.pagination {
    @include clearfix();

    display: block;

    &__item {
        float: left;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 5px 15px;

        font-size: inherit;
        line-height: 1.5em;
        text-align: center;
        text-decoration: none;

        border: 1px solid #000;
        border-radius: 4px;

        &:focus,&:hover {
            outline: none !important;
            &:focus, &:hover {
                box-shadow: 0 0 0 3px #ffa;
            }
        }

        .pagination__item_active & {
            color: #BF1722 !important;
            background: #ffa;
        }
    }

    // Theme black

    body[data-color="black"] & {
        border-color: #fff;

        &__link {
            border-color: #fff;
        }

        &__item_active &__link {
            color: #BF1722;
            background: #d8edff;
        }
    }
}