<header class="header" data-wcag="alternative-background">
    <div class="content-wrapper">
    <h1 class="h1">
        Web Accessibility
    </h1>

    {% set menu = [{
        title: 'Панель ВДС',
        link: 'wcag-panel'
    },{
        title: 'Базовые компоненты',
        link: 'index'
    },{
        title: 'Конфигурация',
        link: 'wcag-config'
    },{
        title: 'Пример контентной страницы',
        link: 'examples'
    }] %}

    <nav>
        <ul>
            {% for item in menu %}
                <li>
                    <a href="{{ item.link }}.html">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    </div>
</header>