// ==========================================================================
// Progress bar
// ==========================================================================

.progress {
    height: 0.8em;
    line-height: 0.8em;
    position: relative;

    &__value {
        height: 100%;


        position: absolute;
        top: 0;
        left: 0;

        background-color: black;
    }

    &__counter {
        margin-left: 0.3em;

        position: absolute;
        top: 0;
        left: 100%;

        color: black;
    }
}

// ==========================================================================
// Theme black
// ==========================================================================

.application[data-color="black"] {
    .progress {
        &__val {
            background-color: white;
        }
        &__counter {
            color: white;
        }
    }
}