.components .components__header:first-child {
    margin-top: 0;
}
.components .components__header {
    display: block;
    font-size: 32px;
    margin: 20px 0 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    line-height: 1.1;
}
.components .components__title {
    color: #7b7b7b;
    font-weight:bold;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.components .components__descr_head {
    padding: 5px;
    margin: 0 0 10px;
    border: 1px dotted #868c90;
}

.components .components__descr {
    margin: 0 0 10px;
}

.components__row {
    margin-bottom: 20px;
}

.application[data-color="black"] .components__header {
    border-bottom: 1px solid white;
}
.application[data-color="black"] .components__title {
    color: #99FF66;
}

.components__collapse-inner {
    padding:10px;
}