
{% include "./partials/header.twig" %}
<link rel="stylesheet" href="assets/libs/fancybox/jquery.fancybox.css">

{% include "./partials/search-form.twig" %}
</header>
<main class="main" role="main">
    <!-- breadcrumbs -->
    <nav class="breadcrumbs" aria-label="хлебные крошки">
        <ul>
            <li class="breadcrumbs__item">
                <a href="/">Главная</a>
            </li>
            <span class="breadcrumbs__separator" aria-hidden="true"></span>
            <li class="breadcrumbs__item">
                <a href="#" title="Официальная документация">Опросы</a>
            </li>
            <span class="breadcrumbs__separator" aria-hidden="true"></span>
            <li class="breadcrumbs__item">
                <span>Транспортный маршрут</span>
            </li>
        </ul>
    </nav>
    <!-- end breadcrumbs -->
    <div class="panel-heading content-header h2">Результаты опроса</div>

    <!-- quize -->
    <div class="quize typography">
        <h3>Какой трансопртный маршрут стоит убрать?</h3>
        <div class="quize__row">
            <p>15 маршрут</p>
            <div class="progress">
                <div class="progress__value" style="width: 15%" role="progressbar" aria-valuenow="15" aria-valuemin="0"
                     aria-valuemax="100" tabindex="0">
                    <div class="progress__counter">15%</div>
                </div>
            </div>
        </div>
        <div class="quize__row">
            <p>21 маршрут</p>
            <div class="progress">
                <div class="progress__value" style="width: 30%" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                     aria-valuemax="100" tabindex="0">
                    <div class="progress__counter">30%</div>
                </div>
            </div>
        </div>
        <div class="quize__row">
            <p>17 маршрут</p>
            <div class="progress">
                <div class="progress__value" style="width: 55%" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                     aria-valuemax="100" tabindex="0">
                    <div class="progress__counter">55%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end quize -->
</main>

{% include "partials/footer.twig" %}

</body>
</html>